[2020-09-24 04:27] amritansh22 opened #1 "Add c++ code file of binary search"
Add a file code file written in C++ of binary search

[2020-09-24 04:38] amritansh22 opened #2 "Add a file code file written in C++ of linear search"
Add a file code file written in C++ of linear search

[2020-09-24 08:47] falguni-k commented on #2
I would like to solve this issue.

[2020-09-24 08:47] falguni-k commented on #1
I would like to solve this issue.

[2020-09-24 12:01] #1 closed

[2020-09-24 12:05] #2 closed

[2020-09-25 04:38] Suvid-Singhal opened #4 "Add Bubble Sort Code in C++"
Hi,
I will add the bubble sort code in C++

[2020-09-25 05:37] amritansh22 commented on #4
Yes please go ahead. Open a PR once done.

[2020-09-25 05:40] #4 closed

[2020-09-25 05:46] amritansh22 opened #6 "Add a file code file written in C++ of insertion sort"
Add a file code file written in C++ of insertion sort

[2020-09-25 05:47] amritansh22 opened #7 "Add a file code file written in C++ of selection sort"
Add a file code file written in C++ of selection sort

[2020-09-25 05:51] Jigyasa-Kumari commented on #7
Hey, can I work on this?

[2020-09-25 05:59] amritansh22 commented on #7
Yes please go ahead. Read the contribution guide and make sure to follow all the steps

[2020-09-25 06:07] iaish-max commented on #6
I am a beginner in open source contribution , can i work on this.

[2020-09-25 06:11] iaish-max commented on #7
I am a beginner in open source contribution , can i work on this.

[2020-09-25 06:22] amritansh22 commented on #6
This repository is exclusively for beginners in open Source, @iaish-max I am assigning this issue to you. Open a PR once done

[2020-09-25 06:26] amritansh22 opened #11 "Quick Sort"
Add a file code file written in C++ of quick sort

[2020-09-25 06:26] amritansh22 opened #12 "Heap Sort"
Add a file code file written in C++ of heap sort

[2020-09-25 06:27] amritansh22 opened #13 "Merge Sort"
Add a file code file written in C++ of merge sort

[2020-09-25 06:28] amritansh22 opened #14 "Sieve of Eratosthenes"
Add a code file in C++ of Sieve of Eratosthenes

[2020-09-25 06:29] amritansh22 opened #15 "Kadane's Algorithm"
Add a code file in C++ of Kadane's Algorithm

[2020-09-25 06:30] amritansh22 opened #16 "Tree: Inorder Traversal"
Add a code file in C++ of Inorder Traversal

[2020-09-25 06:31] amritansh22 opened #17 "Tree: Preorder Traversal"
Add a code file in C++ of Preorder Traversal

[2020-09-25 06:31] amritansh22 opened #18 "Tree: Post Order"
Add a code file in C++ of Post order Traversal

[2020-09-25 06:32] amritansh22 opened #19 "Tree: Level Order Traversal"
Add a code file in C++ of Level Order Traversal

[2020-09-25 06:45] PrakharQ commented on #16
Recursive or Iterative ?

[2020-09-25 07:08] milanj-1 commented on #19
could you assign this to me?

[2020-09-25 07:09] milanj-1 commented on #18
Could you assign this to me?

[2020-09-25 07:09] amritansh22 commented on #16
It's completely your choice.

[2020-09-25 07:09] milanj-1 commented on #14
Could you assign this to me?

[2020-09-25 07:09] amritansh22 commented on #16
I am assigning this issue to you.

[2020-09-25 07:10] mahimagoyalx commented on #13
@amritansh22 I would like to work on this issue as a part of Hacktoberfest. Please assign it to me.

[2020-09-25 07:11] mahimagoyalx commented on #11
@amritansh22 I would like to work on this issue as a part of Hacktoberfest. Please assign it to me.

[2020-09-25 07:13] amritansh22 commented on #18
Ok I have assigned this issue to you. Read the contributing guidelines and open a PR once done.

[2020-09-25 07:14] amritansh22 commented on #13
@mahimagoyalx  I have assigned this issue to you. Read the contributing guidelines and open a PR once done.

[2020-09-25 07:15] amritansh22 commented on #7
@iaish-max This issue was already assigned to @Jigyasa-Kumari. You can work on some other issues.

[2020-09-25 07:15] #7 closed

[2020-09-25 07:16] Exter-dg commented on #17
I would like to work on this. Can you assign it to me?

[2020-09-25 07:16] yadavKaustubh commented on #14
@amritansh22  created a PR, please verify

[2020-09-25 07:19] yadavKaustubh commented on #15
@amritansh22  can you assign me this issue

[2020-09-25 07:20] mahimagoyalx commented on #13
@amritansh22 Yes, sure, I will make the PR on 1st oct, also can I create more issues myself?

[2020-09-25 07:22] khushi2912 commented on #15
@amritansh22 Can you assign this issue to me?

[2020-09-25 07:25] kratikaatgithub commented on #12
Hi I would like to work on this issue as part of Octoberfest. Plz assign this to me.
Thanks.

[2020-09-25 07:25] khushi2912 commented on #12
can you assign this to me please? @amritansh22

[2020-09-25 07:26] khushi2912 commented on #19
i can work on this, can you assign this to me? @amritansh22

[2020-09-25 07:27] #14 closed

[2020-09-25 07:27] #6 closed

[2020-09-25 07:29] amritansh22 commented on #19
@milanj-1 @khushi2912 Anyone of can do it. Just read the contribution guide and open a PR once done

[2020-09-25 07:30] amritansh22 commented on #17
I am assigning you. Just read the contribution guide and open a PR once done

[2020-09-25 07:31] amritansh22 commented on #12
@kratikaatgithub @khushi2912 Anyone of you can do it. Just read the contribution guide and open a PR once done

[2020-09-25 07:31] amritansh22 commented on #11
Assigning it to you. Just read the contribution guide and open a PR once done

[2020-09-25 07:39] kratikaatgithub commented on #13
Hi @amritansh22, can I also get assigned this task?

[2020-09-25 07:47] rasacharjee commented on #19
can I work and open a pr

[2020-09-25 07:49] amritansh22 commented on #13
@mahimagoyalx Yes you are free to do so

[2020-09-25 07:49] amritansh22 commented on #13
@kratikaatgithub Done

[2020-09-25 07:50] amritansh22 commented on #19
@rasacharjee Yes sure please go ahead

[2020-09-25 07:53] milanj-1 commented on #18
@amritansh22 - Updated my code, please check

[2020-09-25 08:08] kratikaatgithub commented on #13
Thanks

[2020-09-25 08:13] kratikaatgithub commented on #11
Hi can you assign this issue to me for Hacktoberfest 2020.
Thanks

[2020-09-25 08:18] rasacharjee commented on #19
Thanks for helping me contribute to the issue. I have made a pr .I would be grateful if that's merged.

[2020-09-25 08:28] mahimagoyalx commented on #11
@amritansh22 please assign one issue to only one person.

[2020-09-25 08:34] mahimagoyalx opened #28 "Singly Linked List"
I would like to add the code for Singly Linked List performing all major operations on it as a part of HacktoberFest. Please add HacktoberFest label to this issue and assign it to me.

[2020-09-25 08:49] iaish-max commented on #15
I am beginner in open source github,can you assign me this issue.

[2020-09-25 09:56] KartikeySharma opened #31 "Graphs: Depth First Search"
Hi
I would like to contribute to this repository. I would like to add some algorithms related to graphs and strings.Can you pls assign DFS to me for Hacktoberfest?
Thanks

[2020-09-25 09:57] KartikeySharma commented on #31
Also, pls add the labels of Hacktoberfest if possible.

[2020-09-25 09:59] KartikeySharma opened #32 "Strings: Rabin-Karp"
I would like to add the code for the Rabin Karp Algorithm which is used for pattern searching on strings as a part of HacktoberFest.
Please add the HacktoberFest label to this issue and assign it to me.

[2020-09-25 11:12] mahimagoyalx opened #33 "Extended Euclid's GCD"
I would like to add the code for Extended Euclid's GCD as a part of HacktoberFest. Please add HacktoberFest label to this issue and assign it to me.

[2020-09-25 14:08] shaonakundu commented on #31
Hey @amritansh22 I would like to add some problems like permutations using DFS and few more related to DFS, so can you assign me this issue?

[2020-09-25 14:39] KartikeySharma commented on #31
@shaonakundu  You can open a different issue and work on that I guess.

[2020-09-25 14:41] KartikeySharma opened #34 "Graphs: Breadth First Search"
Hi
I would like to contribute to this repository. I would like to work on graphs and BFS . Can you pls assign BFS to me for Hacktoberfest?
Thanks

[2020-09-25 15:03] amritansh22 commented on #31
@shaonakundu Yes you can. Please read the contribution guidelines and make sure to follow all the steps and open a Pull Request once done.

[2020-09-25 15:06] shaonakundu commented on #31
Can't I use python?

[2020-09-25 15:07] amritansh22 opened #35 "Implement Kruskal’s Minimum Spanning Tree Algorithm"
Implement code file of Kruskal’s Minimum Spanning Tree Algorithm in C++

[2020-09-25 15:07] KartikeySharma commented on #31
@shaonakundu The repository says cpp :)

[2020-09-25 15:08] amritansh22 opened #36 "Implement Stack using array"
Implement Stack using array

[2020-09-25 15:13] amritansh22 commented on #34
@KartikeySharma Yes please go ahead.

[2020-09-25 15:15] #19 closed

[2020-09-25 15:16] #18 closed

[2020-09-25 15:23] mayankkagrawal commented on #36
[StackUsingArray.zip](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/files/5283662/StackUsingArray.zip)

[2020-09-25 15:24] amritansh22 commented on #31
@shaonakundu This repository is exclusively for DS in C++. I went through your profile and saw you more into development.
I am assigning some easy tasks to you in this repository whose tech stack matches your. https://github.com/amritansh22/Object-Detection-and-Extraction

[2020-09-25 15:31] jakansha2001 commented on #36
Can I work on this issue??

[2020-09-25 15:41] amritansh22 commented on #36
@mayankkagrawal This is not the way how we push code. I suggest you to please learn about github and then try again.

[2020-09-25 15:42] amritansh22 commented on #36
@jakansha2001 Yes please go ahead and please make sure to follow all the points of the contribution guidelines. I am assigning this issue to you.

[2020-09-25 15:43] jakansha2001 commented on #36
yes sure thank you!

[2020-09-25 15:54] ayush523 commented on #15
Hi @amritansh22 .I would like to work on this issue.Can you help me how to get started?

[2020-09-25 16:01] amritansh22 commented on #15
@ayush523 Yes please go ahead.

[2020-09-25 16:09] ujjwal404 commented on #35
Hi, I would like to work on this as a part of hacktober fest. Can you please assign it to me.

[2020-09-25 16:11] amritansh22 commented on #35
Yes please go ahead @ujjwal404

[2020-09-25 16:39] Bhargav252000 opened #38 "Count Connected Components in the Graph"
I would like to add code for Counting Connected Components in Graph... Can you label it as a issue and assign it to me ?

[2020-09-25 16:58] amritansh22 commented on #38
Done

[2020-09-25 18:15] KalyanKumar-4 commented on #12
how can we add local file to git repo?

[2020-09-26 04:50] #38 closed

[2020-09-26 04:50] jakansha2001 commented on #36
i was working with this issue what happened?

[2020-09-26 04:52] amritansh22 opened #41 "Longest Increasing Subsequence"
Implement Longest Increasing Subsequence in C++

[2020-09-26 04:53] amritansh22 opened #42 "Longest Common Subsequence"
Implement Longest Common Subsequence in C++

[2020-09-26 04:54] amritansh22 opened #43 "Max product Subarray"
Implement Max product Subarray in C++

[2020-09-26 04:55] amritansh22 opened #44 "Check balanced balance parentheses"
Implement a code file in C++ to check balanced balance parentheses

[2020-09-26 04:56] amritansh22 opened #45 "Search an element in Linked List"
Implement a code file in C++ to search an element in Linked List

[2020-09-26 04:57] amritansh22 opened #46 "Implement a code file in C++ for Tower of Hanoi"
Implement a code file in C++ for Tower of Hanoi problem

[2020-09-26 04:58] aswarth123 commented on #45
I would like to solve it can you assign it to me?

[2020-09-26 04:59] aswarth123 commented on #44
I would like to solve it can you assign it to me?

[2020-09-26 04:59] amritansh22 commented on #36
extremely sorry @jakansha2001 I was closing another issue but by mistake I did this one

[2020-09-26 05:00] amritansh22 commented on #36
@jakansha2001 I have reopened the issue and assigned it to you

[2020-09-26 05:00] jakansha2001 commented on #36
okay thanks

[2020-09-26 05:07] hbach24 commented on #45
Can I try this issue?

[2020-09-26 05:07] hbach24 commented on #45
May I take this issue?

[2020-09-26 05:09] #15 closed

[2020-09-26 05:23] d2Anubis commented on #41
I want to try this.

[2020-09-26 05:23] amritansh22 commented on #44
@aswarth123  Yes please go ahead.

[2020-09-26 05:24] amritansh22 commented on #45
@aswarth123 I have assigned you another issue. Let this be taken by @hbach24

[2020-09-26 05:26] amritansh22 commented on #41
Yes @d2Anubis please go ahead. Please read the contribution guidelines and make sure to follow all the guidelines and open a PR once done.

[2020-09-26 05:27] aswarth123 commented on #45
ok no problem.

[2020-09-26 05:42] TaniaMalhotra opened #47 "Code for all operations on doubly linked list"
Would like to work on it as a part of hacktoberfest.

[2020-09-26 05:44] amritansh22 commented on #47
Yes sure please go ahead

[2020-09-26 05:57] moddamatt commented on #46
Hello I'll take a crack at the Tower of Hanoi. You can assign it to me.

[2020-09-26 06:10] amritansh22 commented on #46
Yes please go ahead @moddamatt Open a PR once done. I have assigned this issue

[2020-09-26 06:37] Narapureddy-Srikanth commented on #42
Hello, I would like to work on implementing Longest Common Subsequence in C++ as a part of hacktober fest. Can you please assign it to me.

[2020-09-26 06:39] Narapureddy-Srikanth commented on #43
Hello, I would like to work on implementing Max product Subarray in C++ as a part of hacktober fest. Can you please assign it to me.

[2020-09-26 06:48] hbach24 commented on #45
Thank you! I have a question regarding this issue. Would you want me to manually create my own linked list? And also would you want it to return a boolean value (true/false) if an element is found?

[2020-09-26 07:11] #41 closed

[2020-09-26 07:12] amritansh22 commented on #45
@hbach24 Yes you have to create your own LL and return a Boolean value

[2020-09-26 07:14] amritansh22 commented on #43
Yes sure @Narapureddy-Srikanth Please read the contribution guidelines and make to sure to follow all the points. Open a PR once done

[2020-09-26 07:14] amritansh22 commented on #42
Yes sure @Narapureddy-Srikanth Please read the contribution guidelines and make to sure to follow all the points. Open a PR once done

[2020-09-26 07:48] Praddyumn16 commented on #43
@amritansh22 I would like to contribute in this repository because i have good hold on DSA in cpp but every issue has already been assigned to someone. So could you please assign some issue to me as well if in case someone has been assigned more than one issue.

[2020-09-26 08:04] amritansh22 commented on #43
@Praddyumn16 you can yourself open issues also. I am also adding new issues periodically.

[2020-09-26 08:04] poojitha2002 commented on #44
Can I also contribute my code and explanation?

[2020-09-26 08:05] Praddyumn16 commented on #43
Okay, that means i can write other algorithms on my own too and push them with a pull request !!

[2020-09-26 08:08] amritansh22 commented on #44
@poojitha2002 Since this issue is already assigned, you can create some other issue and work on it.

[2020-09-26 08:09] amritansh22 commented on #43
@Praddyumn16 Exactly Just follow all the steps from here: https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp#how-to-contribute

[2020-09-26 11:54] Maitryee-Choudhary commented on #42
I would like to  work on this.Can you assign it to me?

[2020-09-26 12:10] dolonmandal commented on #42
I would like to work on this as a part of hacktober fest 2020. Can you please assign it to me.

[2020-09-26 12:13] ayush523 commented on #46
Hi @amritansh22 ,I have worked on this issue.

[2020-09-26 12:19] amritansh22 commented on #42
@Maitryee-Choudhary @dolonmandal This issue is currently open and not assigned to anyone anyone of you can do this and open a PR. I will the merge whose I receive first. You can also work on some of your own issues

[2020-09-26 12:23] #46 closed

[2020-09-26 12:24] #44 closed

[2020-09-26 12:26] dolonmandal commented on #16
can I work on this as a part of hacktoberfest?

[2020-09-26 13:00] dolonmandal opened #53 "Implement 0/1 Knapsack in c++"

[2020-09-26 13:02] dolonmandal commented on #53
I am a  beginner in hacktoberfest and this is my first issue. Now should I have to wait for this task to be assigned to me?

[2020-09-26 14:58] amritansh22 commented on #53
@dolonmandal I have assigned this issue to you. Make sure to follow all the points mentioned in the contributing guidelines and open open a PR once done.

[2020-09-26 18:09] muskan-goel09 commented on #16
I would really like to contribute

[2020-09-26 20:06] Priyanshu2802 commented on #12
@amritansh22 Please let me contribute during event.

[2020-09-27 04:03] amritansh22 opened #54 "Fractional Knapsack"
Implement Fractional Knapsack in C++

[2020-09-27 04:04] amritansh22 opened #55 "Nth Fibonacci Number"
Write a code file in C++ to print the Nth Fibonacci Number

[2020-09-27 04:05] amritansh22 opened #56 "Reverse an array"
Write a code file in C++ to reverse a 1D array

[2020-09-27 04:05] amritansh22 opened #57 "Left rotate an array k times"

[2020-09-27 04:07] amritansh22 opened #58 "Find second maximum element in array"

[2020-09-27 04:08] amritansh22 opened #59 "Print boundary elements of a tree"

[2020-09-27 04:09] amritansh22 opened #60 "Sum of all nodes values in a tree"

[2020-09-27 04:09] amritansh22 opened #61 "Implement KMP algorithm"

[2020-09-27 04:10] amritansh22 opened #62 "Find median element of an array"

[2020-09-27 04:11] amritansh22 opened #63 "RIght rotate an array k times"

[2020-09-27 04:13] amritansh22 commented on #12
@Priyanshu2802 You can contribute anytime you feel. You can also open your own issues.

[2020-09-27 04:15] amritansh22 commented on #12
@KalyanKumar-4 I suppose you are using Github Web. After forking this repository, there is an option on top to add file
![image](https://user-images.githubusercontent.com/29978031/94355915-19104580-00a6-11eb-9807-a721d0b0d85d.png)
Click on it you can see the option to upload file.

[2020-09-27 04:15] gokulkannan7 commented on #58
Hi, I would love to work on this!

[2020-09-27 04:17] amritansh22 commented on #16
@muskan-goel09 There are plenty of issues to work upon, choose the one that you are most comfortable working on or open issues of your own. Make sure to follow all the points of the contribution guidelines and make a PR once done.

[2020-09-27 04:18] amritansh22 commented on #58
@gokulkannan7 Yes sure. Make sure to follow all the points mentioned in contribution guidelines and open a PR once done.

[2020-09-27 04:20] gokulkannan7 commented on #58
since this is a part of hacktoberfest, shall I open a PR in the first week of October?

[2020-09-27 04:26] amritansh22 commented on #58
This is just for learning. It is to introduce how issues and Pull request work on github. So you can open PR right now also and later in October also.

[2020-09-27 04:42] Maitryee-Choudhary commented on #55
I would to work on this.Can you assign me?

[2020-09-27 04:44] Maitryee-Choudhary commented on #63
i would like to work on this.Can you assign me?

[2020-09-27 04:53] d2Anubis commented on #62
I would like to work on this.

[2020-09-27 04:57] amritansh22 commented on #55
@Maitryee-Choudhary You can work on this. Read the contribution guidelines and make sure to follow all points and open a PR once done.

[2020-09-27 04:57] amritansh22 commented on #63
@Maitryee-Choudhary You can work on this. Read the contribution guidelines and make sure to follow all points and open a PR once done.

[2020-09-27 04:58] amritansh22 commented on #62
@d2Anubis Yes please go ahead.

[2020-09-27 05:17] Manoj13-coder commented on #61
i would like to contribute may i go ahead for this?

[2020-09-27 05:17] Manoj13-coder commented on #61
May i start contribution from 1 october?

[2020-09-27 05:18] Manoj13-coder commented on #60
i would like to contribute may i go ahead for this?

[2020-09-27 05:19] Manoj13-coder commented on #60
May i start contribution from 1 october?

[2020-09-27 05:19] Manoj13-coder commented on #56
I would love to contribute

[2020-09-27 05:28] d2Anubis commented on #59
I would like to work on this.

[2020-09-27 05:48] RatanNarayanHegde commented on #54
@amritansh22  Can you assign me this issue?

[2020-09-27 05:49] Ajit-53 commented on #57
i would like to work on this.Can you please assign me?

[2020-09-27 05:56] amritansh22 commented on #61
@Manoj13-coder You can start contributing right now

[2020-09-27 05:56] amritansh22 commented on #60
@Manoj13-coder  You may start contributing right now

[2020-09-27 05:57] amritansh22 commented on #59
@d2Anubis Yes please go ahead

[2020-09-27 05:57] Manoj13-coder commented on #61
May i start it from 1 October please?

On Sun, 27 Sep 2020, 11:26 Amritansh Vajpayee, <notifications@github.com>
wrote:

[2020-09-27 05:57] amritansh22 commented on #54
@RatanNarayanHegde You may start working on this and open a PR once done. Make sure to follow all the points of the contribution guidelines.

[2020-09-27 05:58] amritansh22 commented on #57
@Ajit-53  You may start working on this and open a PR once done. Make sure to follow all the points of the contribution guidelines.

[2020-09-27 06:11] amritansh22 commented on #61
I am daily adding more issues to work on. Right on these are just for understanding the workflow of Github. You can work right now to understand everything and come in October to work on some other issues

[2020-09-27 06:49] Manoj13-coder commented on #61
ok great i will start working on it

On Sun, 27 Sep 2020, 11:41 Amritansh Vajpayee, <notifications@github.com>
wrote:

[2020-09-27 08:10] Ajit-53 commented on #57
i have one doubt regarding this  i know bruteforce and most optimize
algorithm too.. what i have to submit both are most optimize..thanks for
your response.

On Sun, Sep 27, 2020 at 11:28 AM Amritansh Vajpayee <
notifications@github.com> wrote:

[2020-09-27 08:45] amritansh22 commented on #57
@Ajit-53 You should definitely summit the optimized one.

[2020-09-27 10:45] gayatri517 commented on #56
I would like to work on this issue please assign me

[2020-09-27 12:16] amritansh22 commented on #56
@gayatri517 Yes please go ahead. Make sure to follow all the points of the contribution guidelines and open a PR once done.

[2020-09-27 12:18] #54 closed

[2020-09-27 12:20] amritansh22 opened #68 "Implement Queue using array"

[2020-09-27 12:20] amritansh22 opened #69 "Implement Circular Queue using array"

[2020-09-27 12:22] amritansh22 opened #70 "Find nth Catalan Number"

[2020-09-27 12:23] amritansh22 opened #71 "Find Kth largest element in array"

[2020-09-27 12:24] amritansh22 opened #72 "Search an element in circular linked list"

[2020-09-27 12:24] amritansh22 opened #73 "Delete an element in circular linked list"

[2020-09-27 12:25] amritansh22 opened #74 "Find length circular linked list"

[2020-09-27 12:25] amritansh22 opened #75 "Find duplicate elements in circular linked list"

[2020-09-27 12:27] amritansh22 opened #76 "Implement travelling salesman problem"

[2020-09-27 12:28] amritansh22 opened #77 "Implement queue using two stacks"

[2020-09-27 13:10] gayatri517 commented on #56
Thank you, i will put a PR on 1st October.

[2020-09-27 13:28] sukritidawar commented on #74
I want to work on this issue in cpp, please assign it to me.

[2020-09-27 13:29] sukritidawar commented on #73
I want to work on this issue in cpp

[2020-09-27 13:30] sukritidawar commented on #72
I want to work on this issue in cpp

[2020-09-27 13:31] gayatri517 commented on #77
I would like to work on this issue please assign me.

[2020-09-27 13:34] gayatri517 commented on #70
i would like to work on this issue please assign me

[2020-09-27 13:44] amritansh22 commented on #74
@sukritidawar Yes you may start working on this issue, make sure to follow all the points mentioned in contribution guide and make a PR once done.

[2020-09-27 13:44] amritansh22 commented on #73
@sukritidawar Yes you may start working on this issue, make sure to follow all the points mentioned in contribution guide and make a PR once done.

[2020-09-27 13:44] amritansh22 commented on #72
@sukritidawar Yes you may start working on this issue, make sure to follow all the points mentioned in contribution guide and make a PR once done.

[2020-09-27 13:44] amritansh22 commented on #77
@gayatri517 Yes you may start working on this issue, make sure to follow all the points mentioned in contribution guide and make a PR once done.

[2020-09-27 13:53] dolonmandal commented on #71
Please Assign.

[2020-09-27 13:57] pranav2012 commented on #77
hey @amritansh22  can i work on this

[2020-09-27 14:16] Uyadav207 commented on #68
Hey @amritansh22 Kindly assign me the above issue.

Would love to work on this.

[2020-09-27 15:02] amritansh22 commented on #68
@Uyadav207 Yes you may start working on this issue, make sure to follow all the points mentioned in contribution guide and make a PR once done.

[2020-09-27 15:02] amritansh22 commented on #71
@dolonmandal Yes you may start working on this issue, make sure to follow all the points mentioned in contribution guide and make a PR once done.

[2020-09-27 15:05] amritansh22 commented on #77
Excellent work @pranav2012 thanks a lot for opening this PR

[2020-09-27 15:05] #77 closed

[2020-09-27 15:13] gayatri517 commented on #69
I want to work on this issue please assign me.

[2020-09-27 15:28] gayatri517 commented on #76
I would like to work on this issue please assign me.

[2020-09-27 16:04] amritansh22 commented on #76
@gayatri517 Done

[2020-09-27 16:09] Bijoy-007 commented on #75
Please tell me about the language to use here.
Is it C++?
If C++ can I do this one?

[2020-09-27 16:14] Bijoy-007 opened #80 "Coin denomination problem using dynamic progrmming"
I want to add the coin denomination problem for hacktoberfest .
Will you accept and assign this to me?

[2020-09-27 16:15] Bijoy-007 commented on #75
Hi can I do this?

[2020-09-27 16:17] amritansh22 commented on #80
@Bijoy-007 Yes you can do this.

[2020-09-27 16:18] amritansh22 commented on #75
Yes sure @Bijoy-007 Open a PR once done

[2020-09-27 16:59] #60 closed

[2020-09-27 16:59] #61 closed

[2020-09-27 17:24] heisastark commented on #70
Hey! Can I please take this?

[2020-09-27 17:33] amritansh22 commented on #70
@heisastark Yes sure

[2020-09-27 18:35] sanjeev2552 commented on #69
I can do it please assign me.

[2020-09-27 19:11] ankitksh81 commented on #73
Hi, @amritansh22 Can I work on this issue ?

[2020-09-28 03:04] amritansh22 commented on #69
@gayatri517 Done

[2020-09-28 03:05] amritansh22 commented on #69
@sanjeev2552 This issue is assigned to @gayatri517 You can look for some other open issues or create some of your own

[2020-09-28 03:09] #56 closed

[2020-09-28 03:09] #74 closed

[2020-09-28 03:11] #58 closed

[2020-09-28 05:47] sukritidawar commented on #73
Hey, once it was assigned to me, I was working on this, and was about to make a pr...but since someone else submitted the pr, you closed this issue...it shouldn't be like this I think, if this would be the case, then there won't be the need to comment also...right? I mean why did you even assign me the issue in the first place also?

[2020-09-28 05:54] ankitksh81 commented on #73
Hi @sukritidawar, He didn't assign you this issue. He said you can go ahead and do it. Since there was no one assigned on this issue that's why I also did it. It doesn't mean that you cannot create a PR, go ahead and please do it. I saw you commented on multiple issues, so I thought you won't mind if I do anyone since it is my first time also.

[2020-09-28 05:56] ankitksh81 commented on #73
@sukritidawar One more thing, He didn't close the issue, if you look carefully the issue is still open. I was the one who closed the PR because it won't be counted for Hacktoberfest if done before 1st oct.

[2020-09-28 06:01] sukritidawar commented on #72
Please assign the issue, so that there are no confusions and misconceptions in future.

[2020-09-28 06:07] sukritidawar commented on #73
Well, if I had commented on the issue first, and the author had written that yes I can go ahead with it, I think that you should've considered this in account....Regarding the prs, if you and I are working on the same issue and in the same language, then I think that only one pr would be merged, right?

[2020-09-28 06:09] amritansh22 commented on #73
@sukritidawar First of all apologies. Secondly, try to understand the situation here generally we assigning issues to someone, then they make a PR. But here when I assign an issue to someone they completely vanish and the issue becomes stale. So to avoid this I stopped assigning issues. Now in this also I thought that would be no longer interested, s I merged @ankitksh81 PR.

[2020-09-28 06:10] amritansh22 commented on #73
@sukritidawar What you can do to avoid further problems is to make your own issues.

[2020-09-28 06:10] amritansh22 commented on #72
@sukritidawar Done

[2020-09-28 06:10] ankitksh81 commented on #73
@amritansh22 did you merged my PR ?
But I closed it right?

[2020-09-28 06:12] sakshi-choudhary commented on #55
Can I work on this?

[2020-09-28 06:12] ankitksh81 commented on #73
She had two issues, If she doesn't want to give chance to others then it's alright she can go ahead and do it.

[2020-09-28 06:13] amritansh22 commented on #73
@ankitksh81 No your PR isn't merged because you yourself closed it, that's why this issue is still open

[2020-09-28 06:13] sukritidawar commented on #73
I understand that completely, but I think that not everyone vanishes after being assigned, and since you had labelled hacktober fest, so I was also waiting for October 1st to make a pr....Just a suggestion, please assign the issue from next time to avoid any confusions and misconceptions, since two of my issues were closed like this only.Thanks.

[2020-09-28 06:14] amritansh22 commented on #73
![image](https://user-images.githubusercontent.com/29978031/94396627-ef2b5180-017f-11eb-8251-1efca7a52365.png)
See this issue: He asked me assign and 3 days have passed
https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/issues/17

[2020-09-28 06:16] amritansh22 commented on #73
@sukritidawar Since you want to take part in Octoberbest. I would recommend you to open 5 issues now and assign them to you. On 1st October you may create a PR for all of them.

[2020-09-28 06:18] sukritidawar commented on #73
See, to be very clear, I don't have any problem with you working on the issue. Please go ahead and work on it. I never said that I don't want to give a chance to others. I was just saying so that there won't be any confusion and misconceptions in the future. I'm sorry if you felt that I didn't want to give others a chance, but generally on github I've seen all this happening very smoothly, and thi

[2020-09-28 06:19] ankitksh81 commented on #73
@amritansh22 it's upto you, you can assign the issue to who ever you want. I'm just saying that she already have an issue which she doing. But if she want's to do both then I don't have a problem.

[2020-09-28 06:22] ankitksh81 commented on #73
yeah same for me, it's my first time so since I saw no one assigned that's why I did it. I coded it for more than 2 hrs last night. I hope you understand. But again you can work on it. I don't mind. I will create a new issue and do that as @amritansh22 suggested.

[2020-09-28 06:23] amritansh22 commented on #55
@Maitryee-Choudhary are you on this or should I assign it to @sakshi-choudhary ?

[2020-09-28 06:25] amritansh22 commented on #73
@ankitksh81 @sukritidawar Apologies to both of you. To avoid this problem to others, from now forth I would assign every issue someone. Now I am going to create few issues, you may to work upon them and I would assign them to you.

[2020-09-28 06:26] nischalsoni commented on #71
@amritansh22 hey Amritansh, is there any issue which is not assigned to anyone, if yes, please assign it to me, I'd be happy to help :)

[2020-09-28 06:26] amritansh22 opened #86 "Find only repeated number in an array"

[2020-09-28 06:27] amritansh22 opened #87 "Print the middle element of a singly linked list"

[2020-09-28 06:28] amritansh22 opened #88 "Print Nth node from end in singly linked list"

[2020-09-28 06:28] amritansh22 opened #89 "Check if a number is palindrome"

[2020-09-28 06:29] amritansh22 opened #90 "Check if a singly linked list is palindrome"

[2020-09-28 06:30] amritansh22 opened #91 "Find frequency of a given number in a singly linked list"

[2020-09-28 06:30] amritansh22 opened #92 "Detect loop in a singly linked list"

[2020-09-28 06:31] ishi0301 commented on #90
Please assign me.

[2020-09-28 06:31] ishi0301 commented on #89
Please assign me.

[2020-09-28 06:31] amritansh22 opened #93 "Remove duplicates from a singly linked list"

[2020-09-28 06:31] ishi0301 commented on #87
Please assign me.

[2020-09-28 06:31] Tushar11Raj commented on #89
Can i do this?

[2020-09-28 06:32] ishi0301 commented on #86
Please assign me.

[2020-09-28 06:32] Tushar11Raj commented on #91
Can I do this?

[2020-09-28 06:32] sakshi-choudhary commented on #55
@amritansh22 you have to assign me.

[2020-09-28 06:33] amritansh22 commented on #89
Since @ishi0301 asked first, I am going to assign it to her, you may look for other issues or open your own

[2020-09-28 06:33] mahimagoyalx commented on #88
Please assign me this issue.

[2020-09-28 06:33] amritansh22 commented on #89
@ishi0301 Make sure to follow all the points of the contribution guide and make a PR once done

[2020-09-28 06:34] ishi0301 commented on #93
Please assign me.

[2020-09-28 06:35] amritansh22 commented on #91
@Tushar11Raj Done
Make sure to follow all the points of the contribution guide and make a PR once done

[2020-09-28 06:35] mahimagoyalx commented on #93
Please assign me this issue.

[2020-09-28 06:36] ankitksh81 commented on #92
Hey @amritansh22 let me know if I can work on this one.

[2020-09-28 06:37] amritansh22 commented on #86
@ishi0301 Since there are limited number of issues and you are working on already this issue, so please complete this one and then I would assign you to other issues

[2020-09-28 06:38] amritansh22 commented on #92
@ankitksh81 assigned.

[2020-09-28 06:38] ishi0301 commented on #89
Okay sure.

[2020-09-28 06:39] ishi0301 commented on #86
Okay.

[2020-09-28 06:40] shyamaldeepak commented on #89
#include <iostream>
using namespace std;

int main()
{
     int n, num, digit, rev = 0;

     cout << "Enter a positive number: ";
     cin >> num;

     n = num;

     do
     {
         digit = num % 10;
         rev = (rev * 10) + digit;
         num = num / 10;
     } while (num != 0);

     cout << " The reverse of the number is: " << rev << endl;

     if (n == rev)
         cout << " The nu

[2020-09-28 06:42] amritansh22 commented on #71
@nischalsoni There are few unassigned issues, in addition to them you can also create your own also

[2020-09-28 06:44] ishi0301 commented on #89
@shyamaldeepak I am assigned this issue. Kindly delete your code.

[2020-09-28 06:45] amritansh22 commented on #55
@sakshi-choudhary Let me first ask if @Maitryee-Choudhary is still working on it. In the meantime you can see other issues or open your own issues.

[2020-09-28 06:50] anjali1102 commented on #93
assign me

[2020-09-28 06:51] gayatri517 commented on #88
I want work on this issue please assign it to me. I will put a PR on 1st october.

[2020-09-28 06:52] amitsaini4556 commented on #90
I'll work on this issue.
please assign it to me.

[2020-09-28 06:53] anjali1102 commented on #86
assign me

[2020-09-28 06:54] anjali1102 commented on #71
assign me

[2020-09-28 06:55] amritansh22 commented on #86
Done

[2020-09-28 06:56] amritansh22 commented on #90
@amitsaini4556

[2020-09-28 06:56] amitsaini4556 commented on #87
I'll work on this issue, please assign it to me.

[2020-09-28 06:57] amitsaini4556 commented on #90
thank you so much.

[2020-09-28 07:21] Ajit-53 commented on #88
i would like to work on this.Can please you assign me.because i know to solve this question using 3 different approaches.

[2020-09-28 07:23] amritansh22 commented on #88
@gayatri517 I will open more issues till 1st October, I will assign you to them

[2020-09-28 07:24] amritansh22 commented on #88
@Ajit-53 Done. And do the most optimized one only

[2020-09-28 07:25] amritansh22 commented on #93
@anjali1102 Due to limited number of issues to work upon I am assigning one issue at a time and I see you are already assigned to one open issue.

[2020-09-28 07:26] hemabhagnani commented on #87
I would like to work on this issue. Please assign it to me. Thank You

[2020-09-28 07:42] Bijoy-007 opened #95 "Equal sum partition dynamic programming"
Can I do this?

[2020-09-28 07:44] mayureshkate commented on #93
assign me

[2020-09-28 07:45] Ajit-53 commented on #87
I would like to add the code for Print the middle element of a singly linked list.using slow and fast pointer.
Please assign it to me.

[2020-09-28 07:46] mayureshkate commented on #87
I'll complete it assign me

[2020-09-28 08:12] amritansh22 commented on #95
Yes sure. I have assigned it you.

[2020-09-28 08:15] amritansh22 commented on #93
@mayureshkate Done

[2020-09-28 08:16] amritansh22 commented on #87
@hemabhagnani Done

[2020-09-28 09:51] ishi0301 commented on #86
@amritansh22 . In the above message you told me to complete this issue. Now you have assigned it to someone else.

[2020-09-28 10:06] amritansh22 commented on #86
@ishi0301 I am extremely sorry. I did this by mistake. Was confused between the Issue numbers

[2020-09-28 10:06] amritansh22 commented on #86
@ishi0301 I have assigned you

[2020-09-28 10:11] amritansh22 commented on #71
@anjali1102 done

[2020-09-28 10:12] amritansh22 commented on #75
I have assigned you @Bijoy-007

[2020-09-28 10:15] amritansh22 commented on #70
@gayatri517 I have assigned this issue to you.

[2020-09-28 10:16] amritansh22 commented on #68
@Uyadav207 I have assigned the issue to you. Please open PR when done.

[2020-09-28 10:16] amritansh22 commented on #63
@Maitryee-Choudhary I have assigned the issue to you please open PR once done

[2020-09-28 10:17] amritansh22 commented on #62
@d2Anubis Are you still up on this issue?

[2020-09-28 10:18] amritansh22 commented on #59
@d2Anubis Are you still up on this issue?

[2020-09-28 10:18] amritansh22 commented on #57
@Ajit-53 Are you still up on this issue?

[2020-09-28 10:19] amritansh22 commented on #43
@Narapureddy-Srikanth Are you still up on this issue?

[2020-09-28 10:20] amritansh22 commented on #42
@Narapureddy-Srikanth  Are you still up on this issue?

[2020-09-28 10:20] amritansh22 commented on #35
@ujjwal404 Are you still up on this issue?

[2020-09-28 10:21] amritansh22 commented on #16
@muskan-goel09 Do you want this issue to be assigned to you?

[2020-09-28 10:23] amritansh22 commented on #12
@khushi2912 I have assigned this issue to you. Open a PR once done

[2020-09-28 10:35] nischalsoni opened #99 "Find how many numbers are smaller than any number in an array"
### Finding how many numbers are smaller than any number in an array ###

**Description:**
Given the array nums, for each `nums[i]` find out how many numbers in the array are smaller than it. That is, for each `nums[i]` you have to count the number of valid `j's` such that `j != i` and `nums[j] < nums[i]`.
Return the answer in an array.

**Type of Issue:**
- [x] Add code

**Language:**
- [x] C++

[2020-09-28 10:36] nischalsoni commented on #99
Can i do this?

[2020-09-28 10:53] amritansh22 commented on #99
Yes sure. Assigned it to you.

[2020-09-28 11:07] d2Anubis commented on #62
I did sent you a pull request after completion.

[2020-09-28 11:13] d2Anubis commented on #62
It has been already merged this issue needs to be closed.

[2020-09-28 11:20] arnabsen1729 commented on #16
@amritansh22 I would love to contribute this repo. This repo has already helped me a lot, I would to love to contribute to it more.

[2020-09-28 11:22] amritansh22 commented on #62
@d2Anubis Yes we have merged your PR. Sorry for bothering

[2020-09-28 11:22] #62 closed

[2020-09-28 11:25] amritansh22 commented on #16
@arnabsen1729 It's nice to hear that this repository helped you. You can open PR on topics that have not been added till now.

[2020-09-28 11:35] arnabsen1729 opened #100 "Range Queries using Segment Tree | C++"
### Title: `Range Queries using Segment Tree`

### Descp:
Range Queries involves operation on a range of values in an array, operations can be Sum, Max, Min. and also Update. To solve this, many Data Structures are available, Segment Tree is one of them.

### Type of issue:

- [ ]  Add code
- [ ]  Add comments and documentation for easier understanding

### Language

- [ ]  C++

### Tasks
- [x]  S

[2020-09-28 11:37] arnabsen1729 commented on #16
@amritansh22 yes, I just did. https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/issues/100 Its issue 100 :). I would keep contributing more.

[2020-09-28 11:39] Tushar11Raj commented on #91
Since this issue is labeled under the Hactoberfest I will make the PR once the event starts :-)

[2020-09-28 11:40] arnabsen1729 opened #101 "Range Queries using Fenwick Tree"
### Title: `Range Queries using Fenwick Tree`

### Descp:
Range Queries involves operation on a range of values in an array, operations can be Sum, Max, Min. and also Update. To solve this, many Data Structures are available, Fenwick tree has an easier implementation and is thus very helpful in coding competitions. But it is not as flexible as Segment tree

### Type of issue:

- [ ]  Add code
- [

[2020-09-28 12:07] Tushar11Raj opened #102 "Multiply two matricesusin cpp."

[2020-09-28 12:07] Ajit-53 commented on #57
yaa i am working on this issues..since it is a part of  Hacktoberfest2020 . i will send a pr request between 1 to 31 october.

[2020-09-28 12:07] pAnKAjDWivEdII commented on #99
can i do this ??

[2020-09-28 12:09] #102 closed

[2020-09-28 12:10] d2Anubis commented on #59
Created a PR. Sorry for delay.

[2020-09-28 12:16] ujjwal404 commented on #35
Yes, I've taken up this issue for hacktober fest. I'll make a pull request on 1 oct. If it's really important I can make a pr tomorrow too.

[2020-09-28 12:18] Tushar11Raj opened #104 "Multiplication of any number of matrices."
### Multiplication of any number of matrices.
**Descpription**
Multiplication of n number of matrices where n is a user input variable.
**Language**
 C++
**Task Details**
Clear Code easy to understand
Proper comments

@amritansh22 Can I work on this?

[2020-09-28 12:18] amritansh22 commented on #59
@d2Anubis No issues.

[2020-09-28 12:18] #59 closed

[2020-09-28 12:19] amritansh22 commented on #91
@Tushar11Raj I will add more issues during hactoberfest. You can do this now also.

[2020-09-28 12:23] amritansh22 commented on #101
@arnabsen1729 Done

[2020-09-28 12:24] amritansh22 commented on #99
@pAnKAjDWivEdII This issue is already assigned. You can look for other issues or create your own.

[2020-09-28 12:26] amritansh22 commented on #104
@Tushar11Raj Sure. I have assigned the issue to you.

[2020-09-28 12:35] Tushar11Raj opened #105 "Find frequency of a character in a .txt file"
### Find frequency of a characters and words in a .txt file

**Desc**
frequency of user input character
frequency of words
frequency of all characters using switch case

**Language**
C++

**Issue**
Create a rasterized program
Proper comments

@amritansh22 Can I do this?

[2020-09-28 12:39] Tushar11Raj opened #106 "Convert to sparse matrix"
### Convert a matrix to its sparse matrix form

**Desc**
Convert a user defined matrix to its sparse form

**Language**
C++

**Issue**
Rasterized Program
Proper comments

@amritansh22  Can I work on this?

[2020-09-28 12:44] Maitryee-Choudhary commented on #63
Ok thank you

[2020-09-28 12:45] Maitryee-Choudhary commented on #55
Yes I am working on it.

[2020-09-28 12:46] amritansh22 commented on #105
@Tushar11Raj Sure. I have assigned the issue to you.

[2020-09-28 12:46] amritansh22 commented on #106
@Tushar11Raj Sure. I have assigned the issue to you.

[2020-09-28 12:47] amritansh22 commented on #55
@Maitryee-Choudhary Great.

[2020-09-28 13:02] ishi0301 commented on #86
@amritansh22 No problem . Thank you.

[2020-09-28 13:04] khushi2912 commented on #12
Yes sure! @amritansh22

[2020-09-28 15:17] kritika122000 commented on #89
can you assign me please!!

[2020-09-28 15:21] kritika122000 commented on #87
can you please assign me

[2020-09-28 15:21] kritika122000 commented on #75
assign me please

[2020-09-28 15:22] kritika122000 commented on #92
assign me please

[2020-09-28 15:50] piyush9311 commented on #99
May I work on this issue

[2020-09-28 15:51] piyush9311 commented on #91
May I work on this

[2020-09-28 15:53] piyush9311 commented on #73
May  I work on this issue

[2020-09-28 15:54] piyush9311 commented on #16
May I work on this issue pls

[2020-09-28 16:14] ankitksh81 commented on #73
@piyush9311, already working on it. Sorry.

[2020-09-28 16:24] amritansh22 commented on #101
@arnabsen1729 Done

[2020-09-28 16:26] amritansh22 commented on #89
@kritika122000 This issue is already assigned. You may look for some other or open your own issues here

[2020-09-28 16:26] amritansh22 commented on #87
@kritika122000 This issue is already assigned. You may look for some other or open your own issues here

[2020-09-28 16:27] amritansh22 commented on #75
@kritika122000 This issue is already assigned. You may look for some other or open your own issues here

[2020-09-28 16:27] amritansh22 commented on #92
@kritika122000 This issue is already assigned. You may look for some other or open your own issues here

[2020-09-28 16:28] amritansh22 commented on #99
@piyush9311 This issue is already assigned. You may look for some other or open your own issues here

[2020-09-28 16:29] amritansh22 commented on #91
@piyush9311 Done. Please open a PR once done

[2020-09-28 17:03] tauseefmohammed2 opened #107 "Binary Search Tree"
### **Binary Search Tree**

- Implementation of Binary Search Tree
- Insertion, Deleting and Searching Elements in a Binary Search Tree

**Type of Issue:**
- Adding New Code

**Language Used:**
- C++

[2020-09-28 17:05] tauseefmohammed2 commented on #107
I would be happy to do BST Implementation in C++ and contribute it to the repository as part for Hactoberfest.
If you like the idea please assign it to me.

[2020-09-28 17:12] amritansh22 commented on #107
Yes sure.

[2020-09-28 18:21] gayatri517 commented on #70
Thank you

[2020-09-28 19:28] Ajit-53 commented on #57
please assign this issue to me..my code is almost ready.

[2020-09-28 23:10] yash30201 opened #108 "Binomial coefficients"
### Description
C(n,r) describes the number of ways to choose r elements from n distinct elements. These are also known as binomial coefficients as they are coefficients of binomial series expansion.

### Deliverables
-  Code
-  Proper Comments for better understanding

### Language
**C++**

@amritansh22  can you please assign this to me?

[2020-09-28 23:19] yash30201 opened #109 "Prime Factorisation of a positive number"
### Description
Every natural number can be represented as a product of its prime factors and this form of representation is called prime factorisation form. So the problem is to prime factorise a natural number into its prime factors.

### Deliverables
- Code
- Comments for better understanding and explanation

### Language
**C++**

@amritansh22 Can you please assign this to me?

[2020-09-29 03:15] Ankitlenka26 commented on #95
Can I work on this ?

[2020-09-29 03:48] ArvindR07 opened #110 "Extended Euclidean Algorithm"
**Problem Statement:**
Given two integers a and b, represent their GCD (Greatest Common Divisor) in terms of a and b by finding suitable co-efficients.
(Eg.) a = 2 and b = 5
x = -2 and y = 1 because (-2) * 2 + (1) * 5 = 1
where 1 is the GCD and x and y are co-efficients of a and b respectively.

[2020-09-29 03:48] ArvindR07 commented on #110
I am ready to contribute this problem. @amritansh22
_Thank you._

[2020-09-29 04:34] Tushar11Raj commented on #105
I would like to contribute to it as a part of Hacktoberfest.

[2020-09-29 04:35] Tushar11Raj commented on #104
@amritansh22 I would like to contribute to it as a part of Hacktoberfest.

[2020-09-29 04:35] Tushar11Raj commented on #106
@amritansh22 I would like to contribute to it as a part of Hacktoberfest.

[2020-09-29 04:50] amritansh22 commented on #57
@Ajit-53 It is already assigned

[2020-09-29 04:51] amritansh22 commented on #109
@yash30201 Done

[2020-09-29 04:51] amritansh22 commented on #95
@Ankitlenka26 Since this issue is already assigned, you may look for other issues or open your own here

[2020-09-29 04:52] amritansh22 commented on #110
@ArvindR07 assigned this issue to you.

[2020-09-29 04:53] amritansh22 commented on #105
@Tushar11Raj Sure

[2020-09-29 04:53] amritansh22 commented on #104
@Tushar11Raj Sure

[2020-09-29 04:53] amritansh22 commented on #106
@Tushar11Raj Sure

[2020-09-29 04:54] amritansh22 commented on #108
@yash30201 Done

[2020-09-29 05:06] nischalsoni opened #111 "Minimum Time Visiting All The Points On A Cartesian Plane"
### Finding minimum time visiting all the points on a cartesian plane ###

**Description:**
On a plane there are `n` points with integer coordinates `points[i] = [xi, yi]`. Your task is to find the minimum time in seconds to visit all points.

You can move according to the next rules:

- In one second always you can either move vertically, horizontally by one unit or diagonally (it means to move o

[2020-09-29 05:06] nischalsoni commented on #111
@amritansh22 please assign.

[2020-09-29 05:16] amritansh22 commented on #111
@nischalsoni Done

[2020-09-29 06:25] Pratap2018 commented on #93
assign me

[2020-09-29 06:26] Pratap2018 commented on #107
assignme

[2020-09-29 06:28] Pratap2018 commented on #105
assign me please

[2020-09-29 06:31] reethikprasad opened #112 "Nth fibonacci using Recursion"
Description
To find the nth fibonacci term using recursion

Deliverables
Code
Proper Comments for better understanding
Language
C++

@amritansh22 can you please assign this to me?

[2020-09-29 07:26] Pratap2018 commented on #112
i want to work on this

[2020-09-29 07:31] amritansh22 commented on #93
@Pratap2018 This issue is already assigned. You may look for other issues or open your own here.

[2020-09-29 07:31] amritansh22 commented on #107
@Pratap2018 This issue is already assigned. You may look for other issues or open your own here.

[2020-09-29 07:31] amritansh22 commented on #105
@Pratap2018 This issue is already assigned. You may look for other issues or open your own here.

[2020-09-29 07:32] amritansh22 commented on #112
@reethikprasad Sure

[2020-09-29 07:32] amritansh22 commented on #112
@Pratap2018 This issue is already assigned. You may look for other issues or open your own here.

[2020-09-29 07:59] yash30201 opened #113 "Disjoint Set Union (Data Structure)"
### Description
DSU is a data structure with the following capabilities
- Combine any two different sets of elements.
- Tell in which set a specific element is present.

### Deliverables
- Code
- Proper comments for better understanding of algorithms

### Language
**C++**

@amritansh22  Can you please assign this to me?

[2020-09-29 07:59] yash30201 opened #114 "Minimum Spanning Tree - Kruskal Algorithm"
### Description
Minimum Spanning tree in a connected weighted graph is the tree whose sum of the weights is minimum possible. One of the algorithms which finds the MST is Kruskal.

### Deliverables
- Code - using STL library and DSU(Disjoint Set Union) data structure for checking cycles.
- Proper comments for better understanding of algorithms

### Language
**C++**

@amritansh22  Can you please as

[2020-09-29 07:59] yash30201 opened #115 "Minimum Spanning Tree - Prims Algorithm"
### Description
Minimum Spanning tree in a connected weighted graph is the tree whose sum of the weights is minimum possible. One of the algorithms which finds the MST is Prims algorithm.

### Deliverables
- Code - using STL library
- Proper comments for better understanding of algorithms

### Language
**C++**

@amritansh22  Can you please assign this to me?

[2020-09-29 08:45] amritansh22 commented on #113
@yash30201 Done

[2020-09-29 08:45] amritansh22 commented on #115
@yash30201 Done

[2020-09-29 08:46] amritansh22 commented on #114
Already assigned

[2020-09-29 08:46] #114 closed

[2020-09-29 09:25] yash30201 commented on #114
Sorry my bad, I wasn't able to find the issue.
Thanks!

[2020-09-29 09:37] Ankitlenka26 opened #116 "Search in Rotated Sorted Array"
You are given an integer array nums sorted in ascending order, and an integer target.

Suppose that nums is rotated at some pivot unknown to you beforehand (i.e., [0,1,2,4,5,6,7] might become [4,5,6,7,0,1,2]).

If target is found in the array return its index, otherwise, return -1.

[2020-09-29 09:37] Ankitlenka26 commented on #116
I want to work on this

[2020-09-29 09:50] Ankitlenka26 opened #117 "Sudoku Solver Using Backtracking"
It's an Interesting problem and it will help solidify the understanding of backtracking.
Can @amritansh22 you assign this to me and so I pull this code with comments in for hacktober fest.

[2020-09-29 09:56] Ankitlenka26 opened #118 "Non-Duplicate element in an array"
It is one of the basic problems in bitmasking.
And this problem has many other approaches as well so I will write all the different approaches for this problem and Submit the pull request . @amritansh22 Can I work on this one ?

[2020-09-29 09:59] Ankitlenka26 opened #119 "0 1 KnapSack Problem"
Another interesting problem from Dynamic Programming !! I will write the recursive , memoized and the dynamic programming approach for this one with appropriate explanations as well . @amritansh22  Can I work on this ?

[2020-09-29 10:04] Ankitlenka26 opened #120 "Longest Common Substring"
Very fundamental and interesting problem from Dynamic Programming and also very intuitive once you understand it!! .
I will write the recursive , memoized and the dynamic programming approach to this problem .
@amritansh22 can I please work on this as well ?

[2020-09-29 10:29] amritansh22 commented on #114
@yash30201 No problem

[2020-09-29 10:30] amritansh22 commented on #116
Yes ure @Ankitlenka26 Assigned it to you

[2020-09-29 10:30] amritansh22 commented on #117
Yes sure @Ankitlenka26

[2020-09-29 10:31] amritansh22 commented on #118
Sure.

[2020-09-29 10:32] amritansh22 commented on #119
Already an open issue exists

[2020-09-29 10:32] #119 closed

[2020-09-29 10:33] amritansh22 commented on #120
Already implemented

[2020-09-29 10:33] #120 closed

[2020-09-29 11:11] Ankitlenka26 opened #121 "Optimal Game Strategy Dp Problem"
Very good and one of the hard Dp problems . I would love to code different approaches for it .
@amritansh22 Can you please assign me this so i can work on it ?

[2020-09-29 11:15] Ankitlenka26 opened #122 "K coin Matrix Dp Problem"
It is one of the Multidimensional (3d) dynamic programming Problem with some elegant solution
The problem is :
Given a N x N matrix where every cell has some number of coins. Count number of ways to reach bottom right cell of matrix from top left cell with exactly K coins. We can move to (i+1, j) or (i, j+1) from a cell (i, j).
Input:
2
16
3
1 2 3 4 6 5 9 8 7
12
3
1 2 3 4 6 5 3 2 1

Output:
0
2

@

[2020-09-29 13:19] amritansh22 commented on #121
@Ankitlenka26 Sure

[2020-09-29 15:12] kratikaatgithub commented on #109
Hi @amritansh22 can I be assigned this issue as part of hacktoberfest?

[2020-09-29 15:17] amritansh22 commented on #109
@yash30201 I have assigned you already

[2020-09-29 16:39] Aditi-1400 commented on #117
Hey, I would like to work on this issue!

[2020-09-29 16:40] Valkyrie006 opened #124 "String: KMP Algorithm for Pattern Searching"
### Description
Given a pattern string and a text string, we have to find all the occurrences of pattern string in a text string.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:44] Valkyrie006 opened #125 "Graph: Check for cycle in an undirected graph"
### Description
Given an undirected graph, find if a cycle exists in a graph.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:46] Valkyrie006 opened #126 "Graph: Find a cycle in an undirected graph"
### Description
Given an undirected graph, find a cycle in the graph.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:49] Valkyrie006 opened #127 "Graph: Floyd Warshall Algorithm"
### Description
Given a directed weighted graph, find the shortest distances between every pair of vertices in a given edge-weighted directed graph.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:51] Valkyrie006 opened #128 "Bit Manipulation: Number of set bits in a number"
### Description
Count the number of set bits in the binary representation of a decimal number.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:53] Valkyrie006 opened #129 "Graph: Topological Sort"
### Description
Find the topological sort of given directed acyclic graph.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:55] Valkyrie006 opened #130 "Binary Exponentiation"
### Description
Find a^b mod m efficiently.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 16:58] Valkyrie006 opened #131 "Graph: Dijkstra’s shortest path algorithm"
### Description
Given a graph and a source vertex in the graph, find the shortest paths from source to all vertices in the given graph.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 17:00] Valkyrie006 opened #132 "Data Structure: Trie"
### Description
Array-based implementation of Trie Data Structure.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 17:03] Valkyrie006 opened #133 "Bit Manipulation: Decimal to binary conversion of a number"
### Description
Convert Decimal representation of a number to binary representation of that number.
### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-29 17:20] amritansh22 commented on #117
Hey @Aditi-1400 Since this issue is already assigned you may look for other open issues or create your own here

[2020-09-29 17:22] amritansh22 commented on #124
@Valkyrie006 Please stop spamming this repository and verify before opening issue, if it already exits. Close all such issues and any further attempt like this by you will cause you to be removed from this repository

[2020-09-29 17:22] #124 closed

[2020-09-29 17:44] Aditi-1400 opened #134 "Rat in a Maze"
Implementation of Rat In a Maze problem using backtracking in CPP.

[2020-09-29 17:44] Aditi-1400 commented on #134
Hey, can I work on this issue?

[2020-09-29 17:47] amritansh22 commented on #134
Yes sure @Aditi-1400

[2020-09-29 17:48] amritansh22 commented on #134
Assigned this issue to you

[2020-09-29 17:56] Aditi-1400 commented on #134
Thank you ! :)

[2020-09-30 04:51] amritansh22 opened #135 "Maximum Circular Subarray Sum"

[2020-09-30 05:24] mendoza commented on #135
I would love to solve this issue for the hacktoberfest, could I get it assigned?

[2020-09-30 05:29] Valkyrie006 opened #136 "Insertion Sort"
### Description
Sorting an unsorted array using insertion sort.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-30 05:31] Valkyrie006 opened #137 "Counting sort"
### Description
Sorting an unsorted array using counting sort.

### Deliverables

- Code

- Comments for better understanding and explanation

### Language
C++

@amritansh22 Can you please assign this to me?

[2020-09-30 05:43] amritansh22 commented on #135
@mendoza Yes sure. I have assigned it to you.

[2020-09-30 05:48] #137 closed

[2020-09-30 05:48] #136 closed

[2020-09-30 05:48] #133 closed

[2020-09-30 05:48] #132 closed

[2020-09-30 05:48] #131 closed

[2020-09-30 05:49] #130 closed

[2020-09-30 05:49] #129 closed

[2020-09-30 05:49] #128 closed

[2020-09-30 05:49] #127 closed

[2020-09-30 05:49] #126 closed

[2020-09-30 05:50] #125 closed

[2020-09-30 06:13] ayush523 commented on #135
Hi, I would like to work on this issue  for the hacktoberfest.

[2020-09-30 06:56] amritansh22 commented on #135
@ayush523 This issue is already assigned. You may look for other issues or open your own here.

[2020-09-30 08:18] ankitksh81 commented on #92
Hi @amritansh22, Can I work on a new branch for this issue ?

[2020-09-30 08:27] amritansh22 commented on #92
@ankitksh81 I didn't get you. Can you please elaborate.

[2020-09-30 08:31] ankitksh81 commented on #92
I already have the code for another issue in my master and if I add the code for this issue also then while creating the PR, both of the issues will come in one PR. So, I want to create a new branch to solve this issue. Will that be fine ?

[2020-09-30 09:46] aniketsingh98571 opened #138 "Shellsort.cpp"
Shell sort is a highly efficient sorting algorithm and is based on insertion sort algorithm.
This algorithm avoids large shifts as in case of insertion sort, if the smaller value is to the far right
and has to be moved to the far left.This algorithm uses insertion sort on a widely spread elements, first to sort
them and then sorts the less widely spaced elements. This spacing is termed as interval

[2020-09-30 09:50] aniketsingh98571 commented on #138
@amritansh22 I would like to work on this issue for Hacktoberfest2020. Please assign it to me.

[2020-09-30 11:51] utchak160 opened #139 "MAXIMUM SUBARRAY"
**Description**
Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example 1:

Input: nums = [-2,1,-3,4,-1,2,1,-5,4]
Output: 6
Explanation: [4,-1,2,1] has the largest sum = 6.
Example 2:

Input: nums = [1]
Output: 1

@amritansh22  can I work on this program for Hacktober fest 2020?

[2020-09-30 12:33] amritansh22 commented on #92
Yes absolutely. It will be fine.

[2020-09-30 12:36] amritansh22 commented on #139
@utchak160 This is already implemented. You may try something other.

[2020-09-30 12:36] #139 closed

[2020-09-30 14:36] chaturvediabhay24 opened #140 "Binary matrix"
N numbers were converted into their respective Binary form of M length and arranged in an NxM matrix.

Your task is to find the index of row (1 based indexing) which contains the binary number with maximum value. If multiple rows have maximum value then print the row with minimum index.

Input:

The first line contains two space separated integers N and M, denoting number of rows and number of col

[2020-09-30 14:50] amritansh22 commented on #140
Yes sure @chaturvediabhay24

[2020-09-30 15:36] ArvindR07 opened #143 "Peak Element in an Array"
**Problem Statement:**

Given an array of n elements, find the position of the element which is greater than or equal to both of its neighboring elements.

**Notes:**

- First and last elements have only one neighbor.
- It is guaranteed that at-least one peak exists.
- Do not use linear scan.
- Your program should run in logarithmic complexity.

[2020-09-30 15:36] ArvindR07 commented on #143
I  would be happy to contribute to this issue. @amritansh22
_Thank you! :)_

[2020-09-30 15:47] #140 closed

[2020-09-30 15:56] PriyanshuSaini commented on #138
@amritansh22  I want to work on this issue, and i will provide better explaination along with code.Please assign this to me.

[2020-09-30 16:10] Bijoy-007 commented on #95
Please review and inform me if some is missing or needs to be changed

[2020-09-30 16:47] amritansh22 commented on #143
Yes sure @ArvindR07 assigned it to you

[2020-09-30 16:48] #107 closed

[2020-09-30 16:50] amritansh22 commented on #138
@PriyanshuSaini This issue is already assigned. You may look for other issues or open your own here.

[2020-09-30 16:55] PriyanshuSaini opened #146 "Count ways to reach the n'th stair - dynamic programming"
There are N stairs, a person standing at the bottom wants to reach the top. The person can climb either 1 stair or 2 stairs at a time. Count the number of ways, the person can reach the top (order does matter).

Input:
The first line contains an integer 'T' denoting the total number of test cases. In each test cases, an integer N will be given.

Output:
For each testcase, in a new line, print numb

[2020-09-30 16:57] #110 closed

[2020-09-30 16:58] amritansh22 commented on #146
Yes sure @PriyanshuSaini I have assigned this issue to you.

[2020-09-30 17:06] ankitksh81 commented on #92
@chaturvediabhay24 I'm already assigned on this issue. You should atleast ask for the owner's permission before creating a PR.
And if you are doing it for hacktoberfest then let me tell you that this PR will not be counted as you have created it before 1st oct.
@amritansh22 please take a look at this.

[2020-09-30 17:16] PriyanshuSaini opened #147 "Minimum Swaps to Sort"
Given an array of integers. Find the minimum number of swaps required to sort the array in non-decreasing order.

Input:
The first line of input contains an integer T denoting the no of test cases. Then T test cases follow. Each test case contains an integer N denoting the no of element of the array A[ ]. In the next line are N space separated values of the array A[ ] .

Output:
For each test case

[2020-09-30 17:32] raj292 commented on #147
Hey, I would like to contribute to this problem

[2020-09-30 17:48] PriyanshuSaini commented on #147
@amritansh22 i asked in the comment already sir
.

[2020-09-30 18:08] YUVRAJMOTWANI99 opened #152 "Pascal's Triangle"
Given a non-negative integer Rows, generate the first Rows of Pascal's triangle.
example:-
INPUT - 4
OUTPUT -
     1
   1  1
 1   2  1
1  3  3  1

[2020-09-30 18:09] YUVRAJMOTWANI99 commented on #152
@amritansh22  plz assign this issue to me.
I want to work on this.

[2020-09-30 18:15] arnabsen1729 commented on #100
@amritansh22 Sorry to bother you again, but can you also add the labels of Hacktoberfest here as well. Also one thing, when I will be sending the PR from the forked repo, shall I mention this issue ? I should r8?

[2020-09-30 18:25] chaturvediabhay24 opened #153 "Merge two unsorted linked lists to get a sorted list"
I would like to work on this issue. please assign me.

[2020-09-30 18:47] PrakharPipersania opened #166 "Design Add & Search Words Data Structure(Trie)"
Design a data structure that supports adding new words and finding if a string matches any previously added string.

1) Add Word: Adds word to the data structure.
2) Search Word: Returns true if there is any string in the data structure that matches word or false otherwise.

I want to work on this issue.

[2020-09-30 19:28] arnabsen1729 opened #182 "Prefix Sum and finding sum of range."
### Title: `Prefix Sum of an array and finding the sum of a range`

### Type of issue:

- [ ]  Add code
- [ ]  Add comments and documentation for easier understanding

### Language

- [ ]  C++

### Tasks
- [x]  Star the repo
- [ ]  Fork the repo
- [ ]  Create a pull request

@amritansh22  Can you assign this issue to me, I would love to contribute :smile:

[2020-09-30 19:33] arnabsen1729 opened #186 "Lowest Common Ancestor using Binary Lifting"
### Title: `Lowest Common Ancestor using Binary Lifting`

### Type of issue:

- [ ]  Add code
- [ ]  Add comments and documentation for easier understanding

### Language

- [ ]  C++

### Tasks
- [x]  Star the repo
- [x]  Fork the repo
- [ ]  Create a pull request

@amritansh22  Can you assign this issue to me, I would love to contribute :smile:

[2020-09-30 19:33] Ajit-53 opened #187 "clockwise rotation of linkedlist"
well optimize code in c++ with documentation...

[2020-09-30 19:33] arnabsen1729 commented on #186
@amritansh22 also can you add the labels of Hacktoberfest

[2020-09-30 19:34] Ajit-53 commented on #187
@amritansh22 can you please assign this issue to me..

[2020-09-30 19:52] ishi0301 opened #190 "Euler's_Totient_function"

[2020-09-30 19:58] ishi0301 opened #192 "first_missing_positive _integer"

[2020-09-30 20:00] m-e-r-l-i-n commented on #192
can i do this?

[2020-09-30 20:02] m-e-r-l-i-n opened #194 "finding nCr"
find nCr value modulo M
1<=n<=10^5
1<=r<=10^5
M is a prime

[2020-09-30 20:02] m-e-r-l-i-n commented on #194
can i work on this?

[2020-09-30 20:04] m-e-r-l-i-n opened #195 "Detect cycles in a grid"
Given a 2D array of characters grid of size m x n, you need to find if there exists any cycle consisting of the same value in grid.

A cycle is a path of length 4 or more in the grid that starts and ends at the same cell. From a given cell, you can move to one of the cells adjacent to it - in one of the four directions (up, down, left, or right), if it has the same value of the current cell.

Also

[2020-09-30 20:05] m-e-r-l-i-n commented on #195
can i work on this issue?

[2020-09-30 21:21] MisterSingh commented on #194
Added nCr in [this](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/197)

[2020-09-30 21:34] m-e-r-l-i-n commented on #194
[this](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/197) will fail for large values of n and r
check [my pr](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/198) for the edits i am suggesting

[2020-09-30 21:55] MisterSingh commented on #194
@m-e-r-l-i-n  Can you give me an example for which it will fail?

[2020-10-01 02:38] nischalsoni opened #204 "Helpful Mathematics"
Xenia the beginner mathematician is a third-year student at elementary school. She is now learning the addition operation.

The teacher has written down the sum of multiple numbers. Pupils should calculate the sum. To make the calculation easier, the sum only contains numbers `1,` `2` and `3.` Still, that isn't enough for Xenia. She is only beginning to count, so she can calculate a sum only if th

[2020-10-01 02:45] nischalsoni opened #206 "Matrix Diagonal Sum"
Given a square matrix `mat`, return the sum of the matrix diagonals.

Only include the sum of all the elements on the primary diagonal and all the elements on the secondary diagonal that are not part of the primary diagonal.

[2020-10-01 02:59] Ajit-53 commented on #192
can you please assign this issue to me.

[2020-10-01 03:21] YUVRAJMOTWANI99 commented on #206
@amritansh22 pls assign this to me.

[2020-10-01 03:33] PrakharPipersania commented on #166
Hello, I've sent a PR. Added  the code for this problem, could you please have a look.
Thanks!

[2020-10-01 04:29] ishi0301 commented on #192
@Ajit-53 i have created this issue for myself. Kindly make your own issue and make  your PR.

[2020-10-01 04:47] AnuragGupta806 commented on #206
Can i do it?

[2020-10-01 04:52] m-e-r-l-i-n commented on #194
n=2*10^4 r=10^4 M=10^9+7

[2020-10-01 04:53] Harshit11072000 opened #218 "Next Greater Element on Right"

[2020-10-01 04:53] Harshit11072000 commented on #218
Please Assign.

[2020-10-01 04:55] nischalsoni commented on #206
@AnuragGupta806 actually, this issue has been closed in the PR #207 . You can always open a new issue yourself.

[2020-10-01 04:55] #206 closed

[2020-10-01 04:55] #204 closed

[2020-10-01 04:57] Harshit11072000 opened #219 "Subset Problem"

[2020-10-01 04:57] Harshit11072000 commented on #219
Please Assign

[2020-10-01 05:05] Ajit-53 commented on #192
please mention it in the comment section.when you create issues.

[2020-10-01 05:07] Ajit-53 commented on #187
i don't think its optimize one and you directly copy this code from https://geektech1717.blogspot.com/2020/06/clockwise-rotation-of-linked-list.html @Praddyumn16

[2020-10-01 05:17] #88 closed

[2020-10-01 05:17] #57 closed

[2020-10-01 05:22] #12 closed

[2020-10-01 05:26] #146 closed

[2020-10-01 05:31] amritansh22 commented on #186
Sorry but there is already an existing PR. You may try highest common ancestor

[2020-10-01 05:31] #186 closed

[2020-10-01 05:34] #95 closed

[2020-10-01 05:34] deytulsi18 commented on #219
May I do this please?

[2020-10-01 05:34] deytulsi18 commented on #219
can I contribute?

[2020-10-01 05:34] #143 closed

[2020-10-01 05:38] #153 closed

[2020-10-01 05:39] #134 closed

[2020-10-01 05:40] #87 closed

[2020-10-01 05:41] #11 closed

[2020-10-01 05:42] #90 closed

[2020-10-01 05:43] #109 closed

[2020-10-01 05:44] #31 closed

[2020-10-01 05:45] #101 closed

[2020-10-01 05:47] deytulsi18 commented on #219
I have sent PR for the solution please merge it
[#224 ](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/224)

[2020-10-01 05:52] #194 closed

[2020-10-01 05:59] #218 closed

[2020-10-01 06:01] #36 closed

[2020-10-01 06:05] #152 closed

[2020-10-01 06:07] #99 closed

[2020-10-01 06:07] #76 closed

[2020-10-01 06:07] #111 closed

[2020-10-01 06:15] #28 closed

[2020-10-01 06:18] #91 closed

[2020-10-01 06:20] #16 closed

[2020-10-01 06:22] d2Anubis commented on #182
I want to work on this.

[2020-10-01 06:23] #80 closed

[2020-10-01 06:24] #68 closed

[2020-10-01 06:27] Bijoy-007 opened #229 "494-Target_Sum-Leetcode-DP"
May I do this?

[2020-10-01 06:28] #47 closed

[2020-10-01 06:28] #166 closed

[2020-10-01 06:31] Rajdeep-G opened #230 "Multiplication w/o using multiplication operator."
I will write a code with full documentation about how to find the product of two numbers without using the multiplication (*) operation.

[2020-10-01 06:38] chawlaj100 opened #232 "Add Counting Sort"
Counting sort works by counting the number of elements in the array and using the counts as the key values to sort the array.
I would like to work on this issue.

[2020-10-01 06:41] amritansh22 commented on #232
Yes sure. Have assigned the issue

[2020-10-01 06:42] amritansh22 commented on #230
Yes sure. I have assigned the issue to you

[2020-10-01 06:42] amritansh22 commented on #229
Yes sure. I have assigned the issue to you

[2020-10-01 06:43] amritansh22 commented on #195
Yes sure. I have assigned the issue to you

[2020-10-01 06:44] amritansh22 commented on #187
Yes sure. I have assigned the issue to you

[2020-10-01 06:44] amritansh22 commented on #182
Yes sure. I have assigned the issue to you

[2020-10-01 06:45] amritansh22 commented on #147
Yes sure. I have assigned the issue to you

[2020-10-01 06:46] amritansh22 opened #235 "Move all sorting algorithms to one new folder"

[2020-10-01 06:46] d2Anubis commented on #235
I want to do this.

[2020-10-01 06:46] amritansh22 opened #236 "Move all searching algorithms to one new folder"

[2020-10-01 06:47] harshgoel05 commented on #235
Can I work on this? Seems good to do.

[2020-10-01 06:47] deytulsi18 commented on #236
I want this

[2020-10-01 06:47] deytulsi18 commented on #236
please assign it to me.

[2020-10-01 06:47] d2Anubis commented on #235
I will also try to add if any are missing.

[2020-10-01 06:56] deytulsi18 commented on #235
I have moved all sorting algos into one folder,
please merge my PR
[Added all sort algo in one folder](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/239)

[2020-10-01 06:57] #34 closed

[2020-10-01 06:57] KartikeySharma commented on #34
I have added the BFS algorithm too along with the DFS implementation. That's why I closed this issue :)

[2020-10-01 07:13] Nishant763 opened #247 "Graphs: Kruskal's Algorithm"
Hi @amritansh22 Can you please assign me this issue? I want to contribute to this repository in october.(C++)

[2020-10-01 07:15] Nishant763 opened #248 "Graphs : Prim's Algorithm"
Hi @amritansh22 please assign me this issue.

[2020-10-01 07:15] berakrishnendu36 opened #249 "Remainder without using modulo operator"
I will write a code to find the **remainder** without using a **modulo** operator.

[2020-10-01 07:18] Nishant763 opened #251 "Graphs : Dijkstra's Algorithm"
Hi @amritansh22 please assign me this issue.

[2020-10-01 07:33] sukritidawar commented on #72
hi @amritansh22 , please review this:
https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/172

[2020-10-01 07:55] herobank110 opened #257 "boyer moore horspool string search"
I would like to implement this algorithm in c++

[2020-10-01 08:24] amritansh22 commented on #236
@deytulsi18 Done

[2020-10-01 08:25] #235 closed

[2020-10-01 08:26] amritansh22 commented on #247
Yes sure. I have assigned it to you.

[2020-10-01 08:27] amritansh22 commented on #249
Yes sure. I have assigned it to you.

[2020-10-01 08:27] amritansh22 commented on #257
Yes sure. I have assigned it to you.

[2020-10-01 08:27] amritansh22 commented on #248
Yes sure. I have assigned it to you.

[2020-10-01 08:28] amritansh22 commented on #251
Yes sure. I have assigned it to you.

[2020-10-01 09:18] #187 closed

[2020-10-01 09:21] Praddyumn16 commented on #187
So, are we not supposed to push the code from somewhere else.
Because i thought at the end am contributing in the repository , so the origin of the code won't matter. Please correct me if am wrong @Ajit-53

[2020-10-01 11:34] TaniaMalhotra opened #272 "Spiral traversal of matrix"
Linked the solution PR

[2020-10-01 11:38] TaniaMalhotra commented on #272
#273

[2020-10-01 11:52] PrakharPipersania opened #275 "Radix Sort using Counting Sort"

[2020-10-01 11:59] PrakharPipersania commented on #275
I have added Radix Sort using Counting Sort please review. And let me know if any changes are needed.
Thanks!

[2020-10-01 13:44] #272 closed

[2020-10-01 13:46] #275 closed

[2020-10-01 13:51] amritansh22 opened #281 "Add two sparse matrix"

[2020-10-01 13:51] amritansh22 opened #282 "Multiply two sparse matrix #281"

[2020-10-01 13:51] amritansh22 opened #283 "B+ tree implementation"

[2020-10-01 13:52] amritansh22 opened #284 "Longest Palindromic Subsequence"

[2020-10-01 13:53] amritansh22 opened #285 "Find nth Ugly number"

[2020-10-01 13:54] amritansh22 opened #286 "Convert matrix to sparse matrix"

[2020-10-01 13:55] XIZT07 commented on #281
can i take the issue?

[2020-10-01 13:55] amritansh22 opened #287 "Level order traversal of a tree"

[2020-10-01 13:56] SskYwaLkeR commented on #284
Hi can you assign this to me ?

[2020-10-01 13:56] kartikeytyagi15 commented on #285
Can i try this out in java?

[2020-10-01 13:57] amritansh22 commented on #281
Yes sure. I have assigned the issue to you

[2020-10-01 13:57] AparnaJuhi commented on #287
I want to work on this issue. Please assign it to me!

[2020-10-01 13:58] amritansh22 commented on #284
Yes sure. I have assigned it to you

[2020-10-01 14:01] Prash2002 commented on #286
hey @amritansh22 ,
I would like to contribute,
can you assign it to me?

[2020-10-01 14:01] amritansh22 commented on #285
Hey @kartikeytyagi15 this repository is explicitly for C++ only. If you are not comfortable in it, you can move all the sorting algorithms in to their folder and open a PR

[2020-10-01 14:02] Pacifier25 commented on #282
can i work in this issue?

[2020-10-01 14:05] kartikeytyagi15 commented on #285
Ill do it in C++

[2020-10-01 14:06] amritansh22 commented on #287
Yes sure @AparnaJuhi  I have assigned it to you

[2020-10-01 14:06] amritansh22 commented on #286
Yes sure @Prash2002  I have assigned it to you

[2020-10-01 14:06] Prash2002 commented on #286
Thanks

[2020-10-01 14:07] amritansh22 commented on #282
Yes sure @Pacifier25  I have assigned it to you

[2020-10-01 14:08] amritansh22 commented on #285
ok @kartikeytyagi15 I have assigned this issue to you

[2020-10-01 14:09] HarshithB commented on #285
@amritansh22 how many sorting algorithms can I try

[2020-10-01 14:13] amritansh22 commented on #285
@HarshithB You have to just move the sorting files to the SortingAlgorithms folder. There are about 7 to 10 sorting algorithms. If there are any duplicates then remove one of them

[2020-10-01 14:15] #284 closed

[2020-10-01 14:16] Pacifier25 commented on #282
Actually I have some doubt as this is my first issue.
do i have to create a program that multiply two sparse and merge in this project am i correct

[2020-10-01 14:17] HarshithB commented on #285
@amritansh22 Done I have just moved a new sorting file to SortingAlgorithms Folder.

[2020-10-01 14:17] amritansh22 commented on #282
@Pacifier25 Yes exactly.

[2020-10-01 14:20] AparnaJuhi commented on #287
@amritansh22  I have completed level order traversal. Please review my PR and merge my code.

[2020-10-01 14:24] AparnaJuhi commented on #190
@ishi0301  I want to work on this issue. Please assign it to me!

[2020-10-01 14:34] #287 closed

[2020-10-01 14:36] #190 closed

[2020-10-01 14:58] Prash2002 commented on #286
hey @amritansh22 ,
I've completed it, please check : https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/pull/303

[2020-10-01 15:14] kartikeytyagi15 commented on #285
Done , do let me know if there is any issue.

[2020-10-01 15:27] Bijoy-007 opened #310 "Print_LCS_DP"

[2020-10-01 15:31] amritansh22 commented on #285
@kartikeytyagi15 I have assigned this issue, open a PR once done

[2020-10-01 15:34] amritansh22 commented on #310
Please check before opening issues if it is already implemented or not.

[2020-10-01 15:34] #310 closed

[2020-10-01 15:35] HarshithB commented on #285
@amritansh22 I have done my part

[2020-10-01 15:53] utchak160 commented on #283
Hey @amritansh22
Can I work on this issue?

[2020-10-01 15:56] utchak160 opened #312 "Happy Number"
**Description**
Write an algorithm to determine if a number n is "happy".

A happy number is a number defined by the following process: Starting with any positive integer, replace the number by the sum of the squares of its digits, and repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1. Those numbers for which this process e

[2020-10-01 16:08] noob-26 opened #316 "Search in a Bitonic Array"
Given an array arr[] that is increasing first and then decreasing and a number key, find the index of the number in the array if present, else return -1.

Input 1 :  arr[] = {-3, 9, 8, 20, 17, 5, 1};
            key = 20
Output 1  : Found at index 3

Input 2 :  arr[] = {5, 6, 7, 8, 9, 10, 1, 2, 3};
               key = 30
Output 2  : Not Found

Can I Work on this issue @amritansh22 ?

[2020-10-01 16:09] amritansh22 commented on #312
Yes sure

[2020-10-01 16:29] apurvi96 opened #321 "Edit Distance"
Given two strings A and B, find the minimum number of steps required to convert A to B. (each operation is counted as 1 step.)
You have the following 3 operations permitted on a word:
    Insert a character
    Delete a character
    Replace a character
Return an integer, representing the minimum number of steps required.
Eg:
A = "Anshuman"
B = "Antihuman"
Output : 2

Can I work on adding this pro

[2020-10-01 16:41] amritansh22 commented on #316
Yes sure. I have assigned the issue to you.

[2020-10-01 16:45] amritansh22 commented on #321
@apurvi96 Please star this repository to show your support, in the meantime I am reviewing your code.

[2020-10-01 16:47] amritansh22 commented on #285
@kartikeytyagi15 The volume of incoming PR's is huge, so it is taking a bit of time. Your PR is now merged

[2020-10-01 16:47] #285 closed

[2020-10-01 16:51] Tripathi-Alok commented on #122
can you assign me this problem

[2020-10-01 17:26] sakshi0461 commented on #283
@amritansh22 Can you please assign this issue to me?

[2020-10-01 17:59] amritansh22 commented on #122
@Tripathi-Alok This issue is already assigned you may look for other issues or open your own here

[2020-10-01 18:04] amritansh22 commented on #283
@sakshi0461 Yes sure. I have assigned it to you

[2020-10-01 18:08] amritansh22 commented on #321
Yes sure. @apurvi96  I have assigned this issue to you

[2020-10-01 18:26] noob-26 commented on #316
Thanks a lot.

[2020-10-01 18:39] Harshit812 opened #327 "The Josephus Problem"
I will write a recursive solution for this famous problem known as "Josephus Problem" . Problem is : There are n people standing in a circle . In each step, a certain number of people are skipped and the next person is executed (killed) . This process continues in the same direction till only 1 person is left who will be the winner .  Given the total number of persons n and a number k which indica

[2020-10-01 18:52] AviSharma1305 commented on #230
I'd like to write the code for multiplying 2 numbers without using ( * ) operator.

[2020-10-01 19:05] Sweta040799 commented on #195
Please permit me to solve this issue.

[2020-10-01 20:37] utchak160 opened #330 "Climbing Stairs"
**Description**
You are climbing a staircase. It takes n steps to reach to the top.

Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?

Example 1:

Input: 2
Output: 2
Explanation: There are two ways to climb to the top.
1. 1 step + 1 step
2. 2 steps

Example 2:

Input: 3
Output: 3
Explanation: There are three ways to climb to the top.
1. 1 step + 1 st

[2020-10-02 02:50] masterGabe opened #332 "Doubly Linked List implementation"
I'll like to implement a doubly linked list similar to the singly linked list on this repo. Thoughts?

[2020-10-02 04:07] shreyavanga opened #333 "Binary Tree Level Order Traversal"
Given a binary tree, return the level order traversal of its nodes' values. (ie, from left to right, level by level).

For example:
Given binary tree [3,9,20,null,null,15,7]
return its level order traversal as:
[
  [3],
  [9,20],
  [15,7]
]

Can I work on adding this problem as a part of Dp Alogrithms @amritansh22

[2020-10-02 04:30] gangwar1234 opened #334 "stairs"
can I take this issue?

[2020-10-02 05:37] mendoza commented on #135
Let's close this sucker up hahaha

[2020-10-02 06:00] jyotiGambhir opened #337 "Next Similar Number"
Given a number A in a form of string.You have to find the smallest number that has same set of digits as A and is greater than A.
If A is the greatest possible number with its set of digits, then return -1.
Problem Constraints
1 <= A <= 10100000
A doesn't contain leading zeroes.
Input Format
First and only argument is an numeric string denoting the number A.
Output Format
Return a string denoting

[2020-10-02 06:39] #135 closed

[2020-10-02 07:29] amritansh22 commented on #334
Well if yes, if you could elaborate the issue more

[2020-10-02 07:39] Nishant763 opened #338 "Minimum in sub-array using Segment Tree in cpp"
<b>Minimum In SubArray</b>

<b>Range Minimum Query</b>
Given an array A of size N, there are two types of queries on this array.

1) q l r: In this query you need to print the minimum in the sub-array A[l:r].
2) u x y: In this query you need to update A[x]=y.

<b>Input:</b>
First line of the test case contains two integers, N and Q, size of array A and number of queries.
Second line contains N spa

[2020-10-02 11:41] sdatrey opened #346 "Patching Array"
Given a sorted positive integer array nums and an integer n, add/patch elements to the array such that any number in range [1, n] inclusive can be formed by the sum of some elements in the array. Return the minimum number of patches required.

Example:
Input: nums = [1,5,10], n = 20
Output: 2
Explanation: The two patches can be [2, 4].

Can i contribute into this algorithm? @amritansh22

[2020-10-02 21:07] iFrogHop2Worlds commented on #333
can I get assigned this?

[2020-10-02 21:09] iFrogHop2Worlds commented on #330
Can I be assigned this problem please?

[2020-10-02 22:17] Yashica7 opened #358 "Fractional Knapsack using C++"
Can you please assign me to this code?

[2020-10-03 03:15] #17 closed

[2020-10-03 06:17] gangwar1234 commented on #334
I want to give a solution for this problem

[2020-10-03 06:18] AnshMishra2001 commented on #338
Can I work on this issue?

[2020-10-03 06:24] Nishant763 commented on #338
@AnshMishra2001 Sorry, I have already generated a PR request for this issue. You can create your own issues and work on them.

[2020-10-03 06:24] #338 closed

[2020-10-03 06:27] #92 closed

[2020-10-03 06:30] #257 closed

[2020-10-03 06:40] amritansh22 commented on #358
Already implemented. You may try unbounded knapsack

[2020-10-03 06:40] #358 closed

[2020-10-03 06:40] amritansh22 commented on #346
Yes sure.

[2020-10-03 06:41] amritansh22 commented on #346
Assigned you @sdatrey

[2020-10-03 06:41] amritansh22 commented on #337
Yes sure. I have assigned it to you

[2020-10-03 06:41] #334 closed

[2020-10-03 06:42] amritansh22 commented on #333
Already implemented @shreyavanga

[2020-10-03 06:42] #333 closed

[2020-10-03 06:42] amritansh22 commented on #332
Already implemented 2 days ago

[2020-10-03 06:42] #332 closed

[2020-10-03 06:43] amritansh22 commented on #330
Already implemented.

[2020-10-03 06:43] #330 closed

[2020-10-03 06:43] #327 closed

[2020-10-03 06:44] amritansh22 opened #360 "Move sorting algo's to folder."

[2020-10-03 07:33] gnp31 opened #362 "Sliding Window Problems"
I am currently working on these sliding window technique problems:

1.Find the longest substring of given string containing k distinct characters
2.Longest substring of given string containing distinct characters
3.Find all substrings of a string that are permutation of a given string
4.Print all sub-arrays of an array having distinct elements
5.Find duplicates within given range k in an array

Sh

[2020-10-03 08:05] gnp31 commented on #362
I have made a PR.
Please check

[2020-10-03 08:05] watashi-wa-sidhant commented on #281
Can I work on this?

[2020-10-03 09:16] Prodip-Kumar-Paul opened #366 "Check Parentheses are balanced or not"

[2020-10-03 09:16] Prodip-Kumar-Paul commented on #366
may I work on this issue ?

[2020-10-03 13:06] #195 closed

[2020-10-03 15:12] amritansh22 commented on #366
Already implemented @Prodip-Kumar-Paul

[2020-10-03 15:12] #366 closed

[2020-10-03 16:25] Yashica7 opened #373 "Unbounded Knapsack using C++"
Can u please assign me for this code?

[2020-10-03 18:44] Nishant763 opened #378 "Maximum Sum In Subarray"
You are given a sequence A[1], A[2], ..., A[N] . ( |A[i]| ≤ 15007 , 1 ≤ N ≤ 50000 ). A query is defined as follows:
Query(x,y) = Max { a[i]+a[i+1]+...+a[j] ; x ≤ i ≤ j ≤ y }.

Given M queries, your program must output the results of these queries.

<b>Input</b>
<blockquote>The first line of the input file contains the integer N.
In the second line, N numbers follow.
The third line contains the int

[2020-10-03 18:52] #378 closed

[2020-10-03 19:11] abhishek7553 commented on #373
yes i can do it , can u assign me this problem

[2020-10-03 19:15] abhishek7553 commented on #286
can you assign me this or other problem

[2020-10-03 19:17] abhishek7553 commented on #360
can i do it for hacktober

[2020-10-03 19:23] aditya2610 commented on #373
I can do this work,can u assign me this problem

[2020-10-04 03:12] utchak160 opened #384 "Interleaving String"
**Description**
Given s1, s2, and s3, find whether s3 is formed by the interleaving of s1 and s2.

Example 1:
Input: s1 = "aabcc", s2 = "dbbca", s3 = "aadbbcbcac"
Output: true

Example 2:
Input: s1 = "aabcc", s2 = "dbbca", s3 = "aadbbbaccc"
Output: false

Example 3:
Input: s1 = "", s2 = "", s3 = ""
Output: true

May I contribute by adding this problem? @amritansh22

[2020-10-04 06:25] Aj12345616 commented on #286
hey @amritansh22 can you assign me in this task i would like to make pull request towards hactoberfest....

[2020-10-04 07:16] #251 closed

[2020-10-04 07:17] #248 closed

[2020-10-04 07:17] #247 closed

[2020-10-04 17:48] amritansh22 commented on #360
yes sure @abhishek7553

[2020-10-04 17:48] amritansh22 commented on #373
@Yashica7 Done

[2020-10-04 17:48] amritansh22 commented on #384
Yes sure

[2020-10-06 20:44] abhi2694 commented on #360
@amritansh22 I would like to take this up.

[2020-10-07 14:21] amritansh22 commented on #360
@abhi2694 Take it

[2020-10-07 14:22] amritansh22 commented on #360
Open a pr once done

[2020-10-07 17:45] distroinfinity commented on #230
I see the issue is still open, I can write the code. Please let me know in which directory to place the cpp file @amritansh22

[2020-10-08 03:16] amritansh22 commented on #230
Yes sure you may take it @distroinfinity

[2020-10-08 05:29] abhi2694 commented on #236
@amritansh22 I would like to take this up!

[2020-10-08 05:37] Himanshu16Singh opened #395 "Sliding Window Maximum"
The problem is  :
    given an array and an integer k, find the maximum for each
    and every contiguous subarray of size k.
    Input:
    arr[] = {1, 2, 3, 1, 4, 5, 2, 3, 6}
    k = 3
    Output :
    3 3 4 5 5 5 6

[2020-10-08 05:38] Himanshu16Singh commented on #395
Can I make a PR for this ?

[2020-10-08 05:59] amritansh22 commented on #236
@abhi2694 Yes sure. Have assigned it to you

[2020-10-08 05:59] amritansh22 commented on #395
Yes sure. Assigned it to you

[2020-10-08 12:33] AYUSHI-B83 opened #401 "Insertionsort.cpp"

[2020-10-08 12:35] #401 closed

[2020-10-08 13:11] abhi2694 commented on #281
@amritansh22 I would like to take this up!

[2020-10-08 13:12] abhi2694 commented on #282
@amritansh22 I would like to take this up.

[2020-10-08 13:39] #282 closed

[2020-10-08 13:39] #281 closed

[2020-10-08 15:25] abhi2694 opened #403 "Update Readme"
Having a folder structure helps to keep track of all the resources and algos in a proper manner. This issue addresses the folder structure problem, which aims at updating the readme such that it becomes easier for first-timers to contribute to this repository and maintain code structure in a proper manner.
I would like to take this up.

[2020-10-08 15:36] amritansh22 commented on #403
Assigned it to you @abhi2694

[2020-10-09 05:36] SHIVANATHRIHARIKRISHNA opened #405 "Word Break.cpp"

[2020-10-09 05:36] SHIVANATHRIHARIKRISHNA commented on #405
Assign this issue to me!

[2020-10-09 08:10] amritansh22 commented on #405
Done @SHIVANATHRIHARIKRISHNA

[2020-10-09 08:10] #360 closed

[2020-10-09 08:10] #337 closed

[2020-10-09 08:11] #312 closed

[2020-10-09 08:12] #283 closed

[2020-10-09 08:12] #236 closed

[2020-10-09 08:12] #232 closed

[2020-10-09 09:07] SHIVANATHRIHARIKRISHNA commented on #405
I have submitted the pull request for this issue. Please review and merge

[2020-10-09 11:47] #405 closed

[2020-10-09 13:18] malleshamshivs opened #407 "Serialize and Deserialize a binary tree"

[2020-10-09 13:19] malleshamshivs commented on #407
Assing this issue to me

[2020-10-09 13:19] malleshamshivs commented on #407
I'll add the code in cpp

[2020-10-09 13:23] amritansh22 commented on #407
@malleshamshivs Done

[2020-10-09 14:36] malleshamshivs commented on #407
I have added the code in cpp,please review and merge

[2020-10-11 17:58] megha070 commented on #403
@amritansh22 I would like to take this up. For I am planning to add a first timers guide for users who are looking forward to their first contribution in this repo.

[2020-10-12 03:49] amritansh22 commented on #403
@megha070 This is already implemented. You may try something other.

[2020-10-12 03:49] #403 closed

[2020-10-12 10:22] Deepak2417 commented on #230
I am willing to work on this using C++. Kindly assign this to me also.

[2020-10-12 10:25] amritansh22 commented on #230
@Deepak2417 Yes sure. Open a PR once done

[2020-10-12 14:41] #373 closed

[2020-10-12 16:13] amritansh22 opened #414 "Move all DP solutions to one foleder"

[2020-10-12 20:15] bobbysaprey420 commented on #32
@amritansh22 Hey assign this to me, i would like to contiribute

[2020-10-12 20:18] bobbysaprey420 commented on #229
hey @amritansh22 is this Issue is still open, if yes then I like to contribute here, please assign Hacktoberfest tag to me

[2020-10-13 06:18] #32 closed

[2020-10-13 06:18] #229 closed

[2020-10-13 08:58] mandloiaditi opened #416 "Circle Sort Algorithm"
An inplace sorting algorithm with average time complexity O(nlogn).

[2020-10-13 08:59] mandloiaditi commented on #416
Can I open a PR to add this new algorithm to sorting section ?

[2020-10-13 09:39] raj2729 commented on #414
Hi @amritansh22 , i had like to do this could you please assign me for the same ?

[2020-10-13 11:18] amritansh22 commented on #416
Yes sure @mandloiaditi I have assigned this issue to you.

[2020-10-13 11:18] amritansh22 commented on #414
Yes sure @raj2729 I have assigned this issue to you.

[2020-10-13 16:49] amritansh22 commented on #416
Yes @mandloiaditi It will be counted towards hactoberfest and the same would be reflected on your hactoberfest homepage

[2020-10-13 16:49] #416 closed

[2020-10-13 16:50] amritansh22 commented on #414
@raj2729 Create a new folder named **Dynamic Programming** and move all the files in the main directory of  Dynamic Programming  to the newly created folder

[2020-10-13 17:59] ansh-099 opened #418 "Move Trees question to Trees Folder"
This issue aims at moving trees questions to trees folder

[2020-10-13 18:00] ansh-099 commented on #418
@amritansh22 I would like to take this up.

[2020-10-13 18:04] amritansh22 commented on #418
Yes sure. Have assigned it to you

[2020-10-14 05:36] raj2729 commented on #414
@amritansh22 Do you also require me to move the following folders : "Kth Largest" , "SearchingAlgorithms" and "SortingAlgorithms" to the new folder Dynammic Programming where I have added all .cpp files ?

[2020-10-14 06:15] amritansh22 commented on #414
No not them, just the files implementing some dp problem

[2020-10-14 06:22] raj2729 commented on #414
Okay @amritansh22  . I will work on it accordingly .
It would be really helpful if you add hacktoberfest-accepted / hacktober label . Thank you

[2020-10-14 06:29] raj2729 commented on #414
I have created the pull request . Please do check that out and do let me know if you require any changes .

[2020-10-15 06:54] Rune-Coder commented on #112
I see this issue is still open, I want to work on this issue. Please will you assign this to me?

[2020-10-15 07:26] amritansh22 commented on #112
@Rune-Coder This issue is already assigned. You may open up a new issue of you own choice here

[2020-10-15 07:37] Rune-Coder opened #424 "Insertion sort"
I will like to work in this

[2020-10-15 08:22] amritansh22 commented on #424
Sure Have assigned this issue

[2020-10-15 11:24] rishavraj5 commented on #35
Hi, I would like to work on this issue.

[2020-10-15 11:31] rishavraj5 opened #425 "Adding Code for TRIE Data Structure"
Can you add the Hactoberfest label to this issue? I would like to work on the implementation and important problems of Trie data strcture.

[2020-10-15 14:30] Rune-Coder commented on #424
Okay @amritansh22 . I will work on it accordingly .
It would be really helpful if you add hacktoberfest-accepted / hacktober label . Thank you.

[2020-10-15 14:33] amritansh22 commented on #35
@rishavraj5 Already implemented

[2020-10-15 14:33] #35 closed

[2020-10-15 14:34] amritansh22 commented on #424
@Rune-Coder Done

[2020-10-15 14:34] amritansh22 commented on #425
@rishavraj5 Already implemented

[2020-10-15 14:34] #425 closed

[2020-10-15 17:54] coolsks commented on #424
I would like to contribute on this .

[2020-10-16 03:29] amritansh22 commented on #424
@coolsks This issue is already taken. You may open some other issues of your own choice here.

[2020-10-16 04:11] Sinha199 opened #430 "Shortest Subarray with Sum at Least K"
I will like to work on this problem. Please assign this to me, also add hacktoberfest 2020 label.

[2020-10-16 06:04] amritansh22 commented on #430
Yes sure @Sinha199 Have assigned it  to you.

[2020-10-16 11:37] prabhat34 commented on #230
i want to contribute , could you pls assign it to me?

[2020-10-16 11:44] prabhat34 commented on #230
I am willing to do this issue , could you pls assign it to me?

[2020-10-16 13:29] #230 closed

[2020-10-16 19:11] liamm91 commented on #384
Can I contribute?

[2020-10-17 03:55] amritansh22 commented on #384
@liamm91 You may open some other issue, this is already implemented

[2020-10-17 03:55] #384 closed

[2020-10-17 05:35] Aman2632 commented on #113
@amritansh22 can I work on this issue

[2020-10-17 05:50] amritansh22 commented on #113
@Aman2632 Yes sure. Have assigned it to you.

[2020-10-17 07:46] aryangupta02092002 commented on #424
### Insertion Sort
`#include<stdio.h>
#include<math.h>
void insertionsort(int a[], int n)
{
    int i,j,tmp;
    for(i=1;i<n;i++)
    {
        tmp=a[i];
        j=i-1;
        while(j>=0&&a[j]>tmp)
        {
            a[j+1]=a[j];
            j--;
        }
        a[j+1]=tmp;
    }
}
void printArray(int a[], int n)
{
    int i;
    for (i = 0; i < n; i++)
        printf("%d ", a[i]);
    print

[2020-10-17 10:11] YashJain2 commented on #430
I would like to contribute on this one under hacktoberfest.
Please assign it to me if possible.
@amritansh22

[2020-10-17 12:11] amritansh22 commented on #424
@aryangupta02092002 This isn't how Github works, you may first learn it or read the contribution guidelines here

[2020-10-17 12:11] #424 closed

[2020-10-17 12:13] amritansh22 commented on #430
@YashJain2 This issue is already taken you may open some other issue of your own choice here

[2020-10-17 12:13] #430 closed

[2020-10-18 14:04] Soham182001 commented on #45
Can I try this ? I have a implemented code of searching a number in linked list written in C I will just write it in C++.

[2020-10-18 15:41] amritansh22 commented on #45
Yes sure @Soham182001

[2020-10-18 15:41] #45 closed

[2020-10-18 16:53] Soham182001 commented on #45
please open this!

[2020-10-19 06:43] amritansh22 commented on #45
@Soham182001 Despite being closed, you can still work on this

[2020-10-21 06:57] sanyasinghh25 commented on #106
Can I contribute to this?

[2020-10-21 07:42] sanyasinghh25 commented on #112
Can I contribute to this?

[2020-10-21 14:48] amritansh22 commented on #106
@sanyasinghh25 Yes sure

[2020-10-21 14:48] amritansh22 commented on #112
@sanyasinghh25 Yes sure

[2020-10-23 17:58] ansh-099 opened #463 "Move all LinkedList Codes"
This PR aims at creating a LinkedList folder and adding codes to it.

[2020-10-23 17:58] ansh-099 commented on #463
@amritansh22 I would like to take this up.

[2020-10-23 17:58] ansh-099 opened #464 "Move Stack questions in a folder"
This issue aims at adding a new folder for stack problems

[2020-10-23 17:59] ansh-099 commented on #464
@amritansh22 I would like to take this up.

[2020-10-25 10:27] amritansh22 commented on #464
Yes sure, I have assigned the issue to you.

[2020-10-25 10:32] amritansh22 commented on #463
Yes sure, I have assigned the issue to you

[2020-10-25 14:13] 0ChanAk opened #468 "Steps By Knight"
**Title: Steps By Knight**

**Type of issue:**
 Add code
 Add comments and documentation for easier understanding

**Language**
 C++

**Tasks**

- [ ]   Star the repo

- [ ] Fork the repo

- [ ]  Create a pull request

@amritansh22 Can you assign this issue to me, I want to contribute 😄

[2020-10-26 10:14] aryanchauhan21 commented on #182
Can I start working on this issue and make a pull request ?

[2020-10-26 11:33] arnabsen1729 commented on #182
@aryanchauhan21 yes sure, make sure you follow the guidelines

[2020-11-05 13:11] #113 closed

[2020-11-05 13:11] #115 closed

[2020-11-05 13:11] #116 closed

[2020-11-05 13:11] #117 closed

[2020-11-05 13:11] #118 closed

[2020-11-05 13:11] #121 closed

[2020-11-05 13:11] #122 closed

[2020-11-05 13:11] #138 closed

[2020-11-05 13:11] #147 closed

[2020-11-05 13:11] #182 closed

[2020-11-05 13:11] #192 closed

[2020-11-05 13:11] #219 closed

[2020-11-05 13:11] #249 closed

[2020-11-05 13:11] #286 closed

[2020-11-05 13:11] #316 closed

[2020-11-05 13:11] #321 closed

[2020-11-05 13:11] #346 closed

[2020-11-05 13:11] #362 closed

[2020-11-05 13:11] #395 closed

[2020-11-05 13:11] #407 closed

[2020-11-05 13:11] #414 closed

[2020-11-05 13:11] #418 closed

[2020-11-05 13:11] #463 closed

[2020-11-05 13:11] #464 closed

[2020-11-05 13:11] #468 closed

[2020-11-05 13:11] #13 closed

[2020-11-05 13:11] #33 closed

[2020-11-05 13:11] #42 closed

[2020-11-05 13:11] #43 closed

[2020-11-05 13:11] #53 closed

[2020-11-05 13:11] #55 closed

[2020-11-05 13:11] #63 closed

[2020-11-05 13:11] #69 closed

[2020-11-05 13:11] #70 closed

[2020-11-05 13:11] #71 closed

[2020-11-05 13:11] #72 closed

[2020-11-05 13:11] #73 closed

[2020-11-05 13:11] #75 closed

[2020-11-05 13:11] #86 closed

[2020-11-05 13:11] #89 closed

[2020-11-05 13:11] #93 closed

[2020-11-05 13:11] #100 closed

[2020-11-05 13:11] #104 closed

[2020-11-05 13:11] #105 closed

[2020-11-05 13:11] #106 closed

[2020-11-05 13:11] #108 closed

[2020-11-05 13:11] #112 closed

[2020-12-19 21:18] jdouglass opened #472 "Any data structures and algorithms left for me to complete?"
Hi, I'm looking to make my first ever contribution to a project on github and to practice my C++ skills. Are there any more data structures and algorithms left for me to complete on this project?

[2020-12-20 02:31] amritansh22 commented on #472
@jdouglass Yes there are a lot of data structures yet to be implemented. You can explore the repository and open a PR once done.

[2020-12-21 11:59] himanshu007-creator commented on #472
i have a problem that should be included here . IF interested please allow me to contribute

[2020-12-21 12:24] amritansh22 commented on #472
@himanshu007-creator Yes you may.

[2020-12-21 12:27] himanshu007-creator commented on #472
So i just add the file right?

[2020-12-21 16:30] amritansh22 commented on #472
@himanshu007-creator yes add it, then it will be reviewed

[2021-01-28 05:02] TermKnive commented on #472
i have submitted a pull request, please check it, thx!

[2021-01-28 07:24] amritansh22 commented on #472
@TermKnive Done.

[2021-01-28 14:14] TermKnive commented on #472
Aight thx

[2021-02-25 13:48] zartan068 opened #479 "provide folder for those code."
It would be great if you put those code you written in particular folder.

[2021-03-19 17:44] anishsingh935 commented on #472
HI I have two more algorithm that should be included here .IF interested please allow me to contribute

[2021-03-19 17:48] anishsingh935 commented on #472
Moore's voting algorithm [code to find majority of element in less time complexity ]
jungling algorithm [to rotate the array according to given no ].

[2021-03-22 19:09] TruePadawan commented on #472
@amritansh22 check my own pull request

[2021-03-22 19:10] TruePadawan commented on #479
This issue is gonna be open for a looong while

[2021-04-08 11:02] micky2001 opened #481 "Find Largest area of Histogram in CPP"

[2021-04-08 11:03] micky2001 opened #482 "Rotate digits of a number by K"

[2021-04-08 11:05] micky2001 opened #483 "Find Span of a array"

[2021-04-08 11:05] micky2001 opened #484 "Find Span of a array"

[2021-04-08 11:06] micky2001 opened #485 "Celebrity problem algorithm in cpp"

[2021-04-14 12:34] mahendra1290 commented on #482
number => 123456
k => 2 (rotate clockwise | shift left)
result => 345612
is this is what's needed

[2021-04-14 12:34] mahendra1290 commented on #482
i can work on this

[2021-04-14 14:59] amritansh22 commented on #482
@micky2001 Are you still working on this or should I assign it to @mahendra1290 ?

[2021-04-22 19:10] vincent102416849 commented on #484
Hi, it's my first time joining open source project, may I work on this problem?

[2021-04-22 21:35] vincent102416849 commented on #484
#487

[2021-04-23 03:45] #484 closed

[2021-05-08 11:12] Badal-Jha commented on #482
hello @amritansh22 can I work on this issue??

[2021-05-08 11:27] amritansh22 commented on #482
@Badal-Jha Yes sure. Open a PR once done

[2021-06-15 02:24] #483 closed

[2021-07-25 15:26] AKSHATNEMA commented on #482
@amritansh22 if @Badal-Jha is not working on this issue, please assign this issue to me.

[2021-07-26 08:08] amritansh22 commented on #482
@AKSHATNEMA Done

[2021-09-02 13:21] killerzula commented on #481
any details?

[2021-09-02 13:42] #481 closed

[2021-09-03 07:55] killerzula commented on #481
@amritansh22 i wanted to work on this problem. Can i still solve this and send a PR?

[2021-09-03 08:04] amritansh22 commented on #481
@killerzula Yes sure. Go ahead. Open a PR once done and I will merge it.

[2021-09-03 08:38] killerzula commented on #481
ok thanks

[2021-09-30 16:16] ankitalamba opened #494 "Please add Linear/sequential search in the search folder."
**Here is my code file**
[Linearsearch.txt](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/files/7261005/Linearsearch.txt)

[2021-09-30 16:17] ankitalamba commented on #494
Please add a label to Hacktoberfest

[2021-10-01 13:54] amritansh22 opened #496 "Add tower of hanoi"

[2021-10-01 13:56] SubhamChoudhury commented on #496
Hi, I would like to work on this, can you assign it to me?

[2021-10-01 16:49] amritansh22 commented on #496
Please open a PR once done

[2021-10-01 16:51] amritansh22 opened #497 "Add all graph questions to one folder"

[2021-10-01 16:52] amritansh22 opened #498 "Add c++ code for Lowest common ancestor in a tree"

[2021-10-01 16:56] rohan26062001 commented on #498
Please Assign me, I can work on this

Thank you

[2021-10-01 18:15] amritansh22 commented on #498
@rohan26062001  Start working on it. Open a PR once done

[2021-10-01 18:18] amritansh22 commented on #498
@rohan26062001 Please take some other code of your choice. This is already taken.

[2021-10-01 18:18] #498 closed

[2021-10-01 18:25] Dhanraj-Patil commented on #497
Hi, I'm Dhanraj Patil. I am new to open source programming can u please guide me.

[2021-10-01 18:41] abhaygupta08 commented on #496
Working on it @amritansh22  ✨

[2021-10-01 18:56] abhaygupta08 commented on #496
I've pushed..
Pls check

[2021-10-02 02:13] rajeshpanjiyar opened #506 "Add Lottery_Game.cpp"
**The lottery game** shows numbers to choose and user input is checked if it matches the auto-generated random value then the user is declared winner else the program asks for retrying. The program handles if the user has mistakenly entered other numbers than the list of alphabetic characters and all.
## I am attaching screenshots of the screenplay.
### 1
<img width="494" alt="Screenshot 2021-10-0

[2021-10-02 02:19] rajeshpanjiyar opened #507 "Modularize and make readable Tower of Hanoi"
I want to modify the [Tower of Hanoi](https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/blob/master/towerofhanoi.cpp) with better comments, naming, and an example within a comment.
I will start working as soon I will get assigned. **Thank You!**

[2021-10-02 06:31] avyayjain commented on #496
pls assign me this issue

[2021-10-02 14:32] rajeshpanjiyar commented on #506
## **Contributing under Hacktober fest 2021.**
- So I request the project admin to mark this issue/pr with the appropriate label

[2021-10-02 17:30] vaibhav2809 commented on #497
pls assign it to me i will add

[2021-10-03 06:40] Raven1233 commented on #496
I would like to be assigned this issue

[2021-10-03 13:29] abhs06 commented on #497
Can I go with this??

[2021-10-03 18:38] amritansh22 commented on #497
@vaibhav2809 yes sure. Open a PR once done

[2021-10-03 18:39] amritansh22 commented on #494
Please open a PR, this is an issue.

[2021-10-03 18:52] Sun-0321 commented on #482
@amritansh22  Can I submit my approach ? I have a better solution than the one provided since the merged one is not an IN-PLACE SOLUTION (which is the ideal one)

I can do this using Juggling Algorithm without creating EXTRA SPACE

[2021-10-04 04:32] vishakha-managoli commented on #485
Hello,my name is Vishakha Managoli (TY BTECH). I want to work on this issue. Please assign it to me.

[2021-10-04 15:01] rajeshpanjiyar commented on #506
I request project admin review this issue and pr

[2021-10-12 12:08] swayamg20 commented on #497
Hi, I would like to work on this, please assign it to me.

[2021-10-12 13:03] amritansh22 commented on #497
@swayamg20 yes sure. Open a PR once done

[2021-10-15 14:15] rasmita404 commented on #497
If this issue is not resolved yet, can I work on this?

[2021-10-15 14:20] amritansh22 commented on #497
@rasmita404 Yes this issue isn't resolved yet.
yes sure you can take this issue
Open a PR once done

[2021-10-15 14:42] rasmita404 commented on #497
@amritansh22  Done! and opened a PR. Please review.

[2021-10-17 07:00] affanrahman0 commented on #496
can u please assign this to me?

[2021-10-17 07:06] swatigupta121 opened #550 "Longest Substring without repeating characters"
Given a string str, find the length of the longest substring without repeating characters.
I will provide a well commented code in cpp for the above problem.
Can you please assign it to me.

[2021-10-20 11:04] Ruturaj-7802 commented on #494
can you please assign this to me @amritansh22

[2021-10-21 15:14] Ruturaj-7802 commented on #494
please check PR #557 @amritansh22

[2021-10-23 08:46] hr1shu opened #579 "450+ DSA questions"
I would like to add an excel sheet where 450+ Dsa topic wise questions are present with links to the problem and editor for writing the solution. It's a very good resource for mastering DSA.

Plz assign this to me ASAP @amritansh22 and suggest me where should I add this.

[2021-10-25 12:42] ghost commented on #497
@amritansh22  I'd like to work on this issue, if it's not resolved yet
Please assign it to me

[2021-10-26 19:24] sksinghl498 commented on #497
I would like to contribute .pls assign this to me.

[2022-01-30 01:35] ZhenXW77 opened #597 "Repository organization"
Lots of data structure and algorithm .cpp files are not organized in a folder. For example there are multiple math related .cpp files that can be group into a math folder. String manipulation, traversal, and miscellaneous folders can also be created.

[2022-01-30 09:43] amritansh22 commented on #597
Hello @ZhenXW77 thanks a lot for pointing this issue out. Are you willing to work on this issue ?

[2022-01-30 09:45] ZhenXW77 commented on #597
Yes, I will put all the algorithms and data structures in categorized folders and I will add couple more sorting algorithms.

[2022-03-19 12:40] mohanadtalat91 opened #600 "Bug at binary search"
Overflow will be happen at this line because if `end=2147483647` & `start=214` then the sum of `start+end` will be overflow.
So try to use the following formula to prevent overflow - - > `mid=start+((end-start)/2)`

https://github.com/amritansh22/Data-Structures-and-Algorithms-in-cpp/blob/1d8ccd7b89ef093f173e80b9a3932104511062e5/SearchingAlgorithms/binary_search.cpp#L14

[2022-03-31 04:51] Arushrawat opened #601 "Good morning sir"
Can you please  provide an full course of DSA of c++

[2022-05-25 14:29] SrijanShovit commented on #485
Can I work on this issue?

[2022-07-30 17:02] slayeh17 commented on #600
Hello, here it says the issue is still open. Does it still require any bug fixes ? I am new to contributing and haven't contributed to anything yet so I would very much like to help if needed.

[2022-08-21 07:52] Andyy-18 commented on #600
Instead of using mid = (start+end)/2 , use mid = start+((end-start)/2).

[2022-10-01 17:52] krushnadurole commented on #485
i want to contribute solution for this problem can you please assign this to me

[2022-10-04 11:11] kart027 opened #608 "Rat in Maze"
I want to  add solution of rat in maze problem  in cpp

[2022-10-06 04:07] tirthadagr8 commented on #608
I can solve this question in C++, please specify some details of the question, like if the rat has limited moves or not, whether the rat can move in all four directions or only right and down. You can assign me.

[2022-10-06 04:40] tirthadagr8 commented on #608
I can solve this question in C++. Specify whether the rat can move in all 4 directions or only down and right and assign me.

[2022-10-06 04:40] tirthadagr8 commented on #608
I can solve this question in C++. Please specify whether the rat can move in all 4 directions or only down and right and assign me.